﻿
@{
    ViewBag.Title = "TPS Workflow";
}

@{
    var data = ViewData["data"] as IDictionary<string, string>;
    var fields = ViewData["fields"] as List<string>;
}
<h2>System Data Edit</h2>


<form action="@(WebHelper.Constants.AppPath + ViewData["submiturl"])" method="post">
    @foreach (var f in fields)
    {
        <div>
            <div>
                <label for="txt@f">@f</label>
            </div>
            <div>
                <input type="text" id="txt@f" name="@f" value="@data[f]" />
            </div>
        </div>
}
    <input type="submit" />
</form>

