﻿@using System.Web.Routing;
@{
    ViewBag.Title = "SimpleTable";
}

<h2>Edit System Data</h2>


<a href="@(WebHelper.Constants.AppPath + "System/AddPlant")">Add</a>
<table border="1">
    <thead>
        <tr>
            @{
                foreach (var fieldName in ViewData["fields"] as List<string>)
                {
                    if (fieldName != "url" && fieldName != "delurl")
                    {
                <th>
                    @fieldName
                </th>
                    }
                }
            }
            <th>Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in (IDictionary<string,string>[])ViewData["records"])
        {
            <tr>
                @foreach (var fieldName in ViewData["fields"] as List<string>)
                {
                    if (fieldName != "url" && fieldName != "delurl")
                    {
                    <td>
                        @data[fieldName]
                    </td>
                    }
                }
                <td>
                    <a href="@(WebHelper.Constants.AppPath + data["url"])">Edit</a>
                    <a href="@(WebHelper.Constants.AppPath + data["delurl"])">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
