﻿@using TPSWorkflow.DAL.DtoS;

@{
    ViewBag.Title = "Index";
}

@section AddToHead{
    <script src="@Url.Content("~/Plugins/datatable/js/jquery.dataTables.js")"></script>
    
    <link href="~/Plugins/datatable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
}

@{
    //var countDict = (Dictionary<IssuesStatus, int>)ViewData["countDict"];
    //var reportCount = new
    //{
    //    New = countDict[IssuesStatus.New],
    //    Waiting = countDict[IssuesStatus.Waiting],
    //    Approved = countDict[IssuesStatus.Approve],
    //    Ready = countDict[IssuesStatus.Ready],
    //    Pending = countDict[IssuesStatus.Pending] + countDict[IssuesStatus.PendingAfterMeeting],
    //    CloseKM = countDict[IssuesStatus.ClosedWaitKM],
    //    Close = countDict[IssuesStatus.Recorded],
    //    Cancel = countDict[IssuesStatus.Cancel]
    //};
}


@{
    var tableRenderFunction = new Func<string, IssuesStatus, string>((d, c) =>
    {
        var tlbSb = new System.Text.StringBuilder();
        tlbSb.AppendFormat("<table id=\"{0}\" data-status=\"{1}\" class=\"dt\" >", d, (int)c);
        tlbSb.AppendLine("<thead>");
        tlbSb.AppendLine("<tr>");
        tlbSb.AppendLine("<th>");
        tlbSb.AppendLine("GROUP");
        tlbSb.AppendLine("</th>");

        tlbSb.AppendLine("<th>");
        tlbSb.AppendLine("วันที่");
        tlbSb.AppendLine("</th>");
        tlbSb.AppendLine("<th>");
        tlbSb.AppendLine("เลขที่ใบแจ้งซ่อม");
        tlbSb.AppendLine("</th>");
        tlbSb.AppendLine("<th>");
        tlbSb.AppendLine("หัวเรื่อง");
        tlbSb.AppendLine("</th>");
        tlbSb.AppendLine("<th>");
        tlbSb.AppendLine("โรงแย๊กก๊าซ");
        tlbSb.AppendLine("</th>");
        tlbSb.AppendLine("<th>");
        tlbSb.AppendLine("กลุ่มงาน");
        tlbSb.AppendLine("</th>");
        tlbSb.AppendLine("<th>");
        tlbSb.AppendLine("แก้ไขล่าสุด");
        tlbSb.AppendLine("</th>");

        tlbSb.AppendLine("</tr>");
        tlbSb.AppendLine("</thead>");
        tlbSb.AppendLine("<tbody></tbody>");
        tlbSb.AppendLine("</table>");
        return tlbSb.ToString();
    });
    
}

<script>
    var userWorkGroupId = "@ViewData["usrWgId"]"
    ;
    //var nullDate = 
    //    ;
    $(document).ready(function () { $('#mnuSummary').addClass('selected'); });
    var isEditAble = @ViewData["isEditable"].ToString().ToLower() ;
</script>
<script src="@Url.Content("~/Scripts/TPS/summarytable.js")"></script>
<div class="head">
    <div class="left">
        <select size="1"class="groupSelect" id="sltGroupFilter">
            <option value="-1">All</option>
            @{
                var sb = new System.Text.StringBuilder();

                var plantCodes = (List<groupDto>)ViewData["groups"];
                plantCodes.ForEach(c =>
                {
                    var html = string.Format("<option value=\"{0}\">{1}</option>", c.GroupId, c.GroupName);
                    sb.AppendLine(html);
                });
                var longText = sb.ToString();
            }
            @Html.Raw(longText);    
        </select>
        <div class="datePicker" style="margin-left:20px;">
            Start From : <input type="text" class="datePicker short" style="width:90px;" id="txtStartDate" />
        </div>
        <div class="datePicker">
            To : <input type="text" class="datePicker short" style="width:90px;" id="txtEndDate" />
        </div>
    </div>
    <div class="right">
        
        <input class="search" placeholder="ค้นหา" id="txtSearchProblem" />
        @if (ViewData["isCanBreakDown"] != null && ViewData["isCanBreakDown"].Equals(true))
        {
            <button class="btnTps long" style="width:auto;" id="btnScheduler">Load Breakdown</button>
        }
    </div>
</div>

<div class="section headsection" id="divTotalReport">
    <div class="sectionTitle">
        <span><img src="@Url.Content("~/Content/Images/totalicon.png")" /> TOTAL REPORTS</span>
    </div>
    <div class="sectionContent headsection">
        <table id="tblTotalReport">
            <thead class="tpsLabel">
                <tr>
                    <th>
                        CREATED
                    </th>
                    <th>
                        WAITING
                    </th>
                    <th>
                        APPROVED
                    </th>
                    <th>
                        READY
                    </th>
                    <th>
                        PENDING
                    </th>
                    <th>
                        CLOSED
                    </th>
                    <th>
                        RECORDED
                    </th>
                    <th>
                        CANCEL
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="countFor@((int)IssuesStatus.New)" class="tblCount">
                        @*@reportCount.New*@
                    </td>
                    <td id="countFor@((int)IssuesStatus.Waiting)" class="tblCount">
                        @*@reportCount.Waiting*@
                    </td>
                    <td id="countFor@((int)IssuesStatus.Approve)" class="tblCount">
                        @*@reportCount.Approved*@
                    </td>
                    <td id="countFor@((int)IssuesStatus.Ready)" class="tblCount">
                        @*@reportCount.Ready*@
                    </td>
                    <td id="countFor@((int)IssuesStatus.Pending)" class="tblCount">
                        @*@reportCount.Pending*@
                    </td>
                    <td id="countFor@((int)IssuesStatus.ClosedWaitKM)" class="tblCount">
                        @*@reportCount.CloseKM*@
                    </td>
                    <td id="countFor@((int)IssuesStatus.Recorded)" class="tblCount">
                        @*@reportCount.Close*@
                    </td>
                    <td id="countFor@((int)IssuesStatus.Cancel)" class="tblCount">
                        @*@reportCount.Cancel*@
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="section" id="divNew">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/newicon_summary.png")" />*@ CREATED</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
         @{
             var htmlText = tableRenderFunction("tblIssueNew", IssuesStatus.New);
        }
        @Html.Raw(htmlText)
        
    </div>
</div>

<div class="section" id="divWaiting">
    <div class="sectionTitle">
        <span>
            @*<img src="@Url.Content("~/Content/Images/waitingicon_summary.png")" />*@
            WAITING</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
         @{
             htmlText = tableRenderFunction("tblIssueWaiting", IssuesStatus.Waiting);
        }
        @Html.Raw(htmlText)
        
    </div>
</div>

<div class="section" id="divApprove">
    <div class="sectionTitle">
        <span>
            @*<img src="@Url.Content("~/Content/Images/approveicon_summary.png")" />*@
            APPROVED</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
         @{
             htmlText = tableRenderFunction("tblIssueApprov", IssuesStatus.Approve);
        }
        @Html.Raw(htmlText)
        
    </div>
</div>

<div class="section" id="divReady">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/readyicon_summary.png")" />*@ READY</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            htmlText = tableRenderFunction("tblIssueReady", IssuesStatus.Ready);   
        }
        @Html.Raw(htmlText)
    </div>
</div>

<div class="section" id="divPending">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/pendingicon_summary.png")" />*@ PENDING</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            htmlText = tableRenderFunction("tblIssuePending", IssuesStatus.Pending);
        }
        @Html.Raw(htmlText)
        
    </div>
</div>

<div class="section" id="divCloseKM">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/closeicon_summary.png")" />*@ CLOSED</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
         @{
             htmlText = tableRenderFunction("tblIssueCloseKm", IssuesStatus.ClosedWaitKM);
        }
        @Html.Raw(htmlText)
        
    </div>
</div>

<div class="section" id="divClose">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/closeicon_summary.png")" />*@ RECORDED</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
         @{
             htmlText = tableRenderFunction("tblIssueClose", IssuesStatus.Recorded);
        }
        @Html.Raw(htmlText)
        
    </div>
</div>
                 <div class="section" id="divCancel">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/closeicon_summary.png")" />*@ CANCEL</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
         @{
             htmlText = tableRenderFunction("tblIssuesCancel", IssuesStatus.Cancel);
        }
        @Html.Raw(htmlText)
        
    </div>
</div>
