﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;

@{
    ViewBag.Title = "Index";
}

@section AddToHead{
    <script src="@Url.Content("~/Plugins/datatable/js/jquery.dataTables.js")"></script>

    <link href="~/Plugins/datatable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
}

@{
    var countDict = (Dictionary<IssuesStatus, int>)ViewData["countDict"];
    var tableData = (Dictionary<IssuesStatus, List<issuesDto>>)ViewData["tableData"];
    var reportCount = new
    {
        New = countDict[IssuesStatus.New],
        Waiting = countDict[IssuesStatus.Waiting],
        Approved = countDict[IssuesStatus.Approve],
        Ready = countDict[IssuesStatus.Ready],
        //Pending = countDict[IssuesStatus.Pending] + countDict[IssuesStatus.PendingAfterMeeting],
        Pending = countDict[IssuesStatus.Pending],
        CloseKM = countDict[IssuesStatus.ClosedWaitKM],
        Close = countDict[IssuesStatus.Recorded],
        Cancel = countDict[IssuesStatus.Cancel]
    };
}



@helper table(string d, IssuesStatus c, List<issuesDto> data)
{
    var tlbSb = new System.Text.StringBuilder();
        //tlbSb.AppendFormat<table id=\"{0}\" data-status=\"{1}\" class=\"dt\" >", d, (int)c);
    <table id="@d" data-status="@((int)c)" class="dt">
        <thead>
            <tr>
                <th>GROUP
                </th>

                <th>วันที่
                </th>
                <th>เลขที่ใบแจ้งซ่อม
                </th>
                <th>หัวเรื่อง
                </th>
                <th>โรงแย๊กก๊าซ
                </th>
                <th>กลุ่มงาน
                </th>
                <th>แก้ไขล่าสุด
                </th>

            </tr>
        </thead>
        <tbody>


            @foreach (var issue in data)
            {
                <tr class="issueRow" data-issueId="@issue.IssueId" data-wgId="@issue.WorkGroupId">
                    <td class="groupDisplay">
                        <div class="groupHighlight">@issue.GroupName</div>
                    </td>
                    <td class="dateDisplay">
                        @Html.Raw(issue.ProblemDate.TPSDateTime())
                    </td>
                    <td>
                        @issue.BillNo
                    </td>
                    <td>
                        <div class="topicsum" title="@issue.ProblemName">@issue.ProblemName</div>
                    </td>
                    <td>
                        @issue.PlantDisplayCode
                    </td>
                    <td>
                        @issue.WorkGroupNameTh
                    </td>
                    <td class="dateDisplay">
                        @Html.Raw(issue.ModifiedDate.TPSDateTime())
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    var userWorkGroupId = "@ViewData["usrWgId"]"
    ;
    //var nullDate = 
    //    ;
    $(document).ready(function () { $('#mnuSummary').addClass('selected'); });
    var isEditAble = @ViewData["isEditable"].ToString().ToLower() ;
    var oldContent = @Html.Raw(Json.Encode(ViewData["oldContent"])) ;
</script>
<script src="@Url.Content("~/Scripts/TPS/summarytable_nonajax.js")"></script>
<div class="head">
    <div class="left">
        <select size="1" class="groupSelect" id="sltGroupFilter">
            <option value="-1">All</option>
            @{
                var sb = new System.Text.StringBuilder();

                var plantCodes = (List<groupDto>)ViewData["groups"];
                plantCodes.ForEach(c =>
                {
                    var plants = "";
                    if (c.allowplant != null)
                    {
                        plants = string.Join(", ", c.allowplant.Select(d => d.plantdisplaycode).ToArray());
                    }
                    var html = string.Format("<option value=\"{0}\">{1} ({2})</option>", c.GroupId, c.GroupName, plants);
                    sb.AppendLine(html);
                });
                var longText = sb.ToString();
            }
            @Html.Raw(longText);    
        </select>
        <div class="datePicker" style="margin-left: 20px;">
            Start From :
            <input type="text" class="datePicker short" style="width: 90px;" id="txtStartDate" />
        </div>
        <div class="datePicker">
            To :
            <input type="text" class="datePicker short" style="width: 90px;" id="txtEndDate" />
        </div>
        <div style="position:absolute; display:inline-block; margin-left:10px;"><input style="top:2px; margin-right:3px; position:relative; " checked="checked" type="checkbox" id="chbIsShowOnlyMe" /><label style="" for="chbIsShowOnlyMe">แสดงเฉพาะรายการของฉัน</label></div>
    </div>
    <div class="right">
        <input class="search" placeholder="ค้นหา" id="txtSearchProblem" value=""/>
        @if (ViewData["isCanBreakDown"] != null && ViewData["isCanBreakDown"].Equals(true))
        {
            <button class="btnTps long" style="width: auto;" id="btnScheduler">Load Breakdown</button>
            
        }
     @*   @if (ViewData["isCanRecover"] != null && ViewData["isCanRecover"].Equals(true))
        {
            <button class="btnTps long" style="width: auto;" id="btnRecover">Recover Deleted</button>
        }*@
    </div>
</div>

<div class="section headsection" id="divTotalReport">
    <div class="sectionTitle">
        <span>
            <img src="@Url.Content("~/Content/Images/totalicon.png")" />
            TOTAL REPORTS</span>
    </div>
    <div class="sectionContent headsection">
        <table id="tblTotalReport">
            <thead class="tpsLabel">
                <tr>
                    <th>CREATED
                    </th>
                    <th>WAITING
                    </th>
                    <th>APPROVED
                    </th>
                    <th>READY
                    </th>
                    <th>PENDING
                    </th>
                    <th>CLOSED
                    </th>
                    <th>RECORDED
                    </th>
                    <th>RE-APPROVE
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="countFor@((int)IssuesStatus.New)" class="tblCount" data-section="divNew">
                        @reportCount.New
                    </td>
                    <td id="countFor@((int)IssuesStatus.Waiting)" class="tblCount" data-section="divWaiting">
                        @reportCount.Waiting
                    </td>
                    <td id="countFor@((int)IssuesStatus.Approve)" class="tblCount" data-section="divApprove">
                        @reportCount.Approved
                    </td>
                    <td id="countFor@((int)IssuesStatus.Ready)" class="tblCount" data-section="divReady">
                        @reportCount.Ready
                    </td>
                    <td id="countFor@((int)IssuesStatus.Pending)" class="tblCount" data-section="devPending">
                        @reportCount.Pending
                    </td>
                    <td id="countFor@((int)IssuesStatus.ClosedWaitKM)" class="tblCount" data-section="divCloseKM">
                        @reportCount.CloseKM
                    </td>
                    <td id="countFor@((int)IssuesStatus.Recorded)" class="tblCount" data-section="divClose">
                        @reportCount.Close
                    </td>
                    <td id="countFor@((int)IssuesStatus.Cancel)" class="tblCount" data-section="divCancel">
                        @reportCount.Cancel
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="section" id="divNew">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/newicon_summary.png")" />*@ CREATED</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            @table("tblIssueNew", IssuesStatus.New, tableData[IssuesStatus.New])
        }


    </div>
</div>

<div class="section" id="divWaiting">
    <div class="sectionTitle">
        <span>
            @*<img src="@Url.Content("~/Content/Images/waitingicon_summary.png")" />*@
            WAITING</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            @table("tblIssueWaiting", IssuesStatus.Waiting, tableData[IssuesStatus.Waiting])
        }


    </div>
</div>

<div class="section" id="divApprove">
    <div class="sectionTitle">
        <span>
            @*<img src="@Url.Content("~/Content/Images/approveicon_summary.png")" />*@
            APPROVED</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            @table("tblIssueApprov", IssuesStatus.Approve, tableData[IssuesStatus.Approve])
        }


    </div>
</div>

<div class="section" id="divReady">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/readyicon_summary.png")" />*@ READY</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            @table("tblIssueReady", IssuesStatus.Ready, tableData[IssuesStatus.Ready])   
        }

    </div>
</div>

<div class="section" id="divPending">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/pendingicon_summary.png")" />*@ PENDING</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            @table("tblIssuePending", IssuesStatus.Pending, tableData[IssuesStatus.Pending])
        }


    </div>
</div>

<div class="section" id="divCloseKM">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/closeicon_summary.png")" />*@ CLOSED</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            @table("tblIssueCloseKm", IssuesStatus.ClosedWaitKM, tableData[IssuesStatus.ClosedWaitKM])
        }


    </div>
</div>

<div class="section" id="divClose">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/closeicon_summary.png")" />*@ RECORDED</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            @table("tblIssueClose", IssuesStatus.Recorded, tableData[IssuesStatus.Recorded])
        }


    </div>
</div>
<div class="section" id="divCancel">
    <div class="sectionTitle">
        <span>@*<img src="@Url.Content("~/Content/Images/closeicon_summary.png")" />*@ RE-APPROVE</span>
        <div class="btnCollapseSection"></div>
    </div>
    <div class="sectionContent">
        @{
            @table("tblIssuesCancel", IssuesStatus.Cancel, tableData[IssuesStatus.Cancel])
        }

    </div>
</div>
