﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;

@{

    var bdData = ViewData["breakdown"] as List<issuesDto>;
    var delData = ViewData["deleted"] as List<issuesDto>;
}
<script>
    $(document).ready(function () { $('#mnuRecover').addClass('selected'); });
    var oldContent = @Html.Raw(Json.Encode(ViewData["oldContent"])) ;
</script>

@helper table(string d, List<issuesDto> data)
{
    var tlbSb = new System.Text.StringBuilder();
        //tlbSb.AppendFormat<table id=\"{0}\" data-status=\"{1}\" class=\"dt\" >", d, (int)c);
    <table id="@d"  class="dt">
        <thead>
            <tr>
                <th>GROUP
                </th>

                <th>วันที่
                </th>
                <th>เลขที่ใบแจ้งซ่อม
                </th>
                <th>หัวเรื่อง
                </th>
                <th>โรงแย๊กก๊าซ
                </th>
                <th>กลุ่มงาน
                </th>
                <th>ลบโดย
                </th>
                <th>
                    เหตุผล
                </th>
            </tr>
        </thead>
        <tbody>


            @foreach (var issue in data)
            {
                <tr class="recoverRow" data-issueId="@issue.IssueId" data-wgId="@issue.WorkGroupId">
                    <td class="groupDisplay">
                        <div class="groupHighlight">@issue.GroupName</div>
                    </td>
                    <td class="dateDisplay">
                        @Html.Raw(issue.ProblemDate.TPSDateTime())
                    </td>
                    <td>
                        @issue.BillNo
                    </td>
                    <td>
                        <div class="topicsum" title="@issue.ProblemName">@issue.ProblemName</div>
                    </td>
                    <td>
                        @issue.PlantDisplayCode
                    </td>
                    <td>
                        @issue.WorkGroupNameTh
                    </td>
                    <td>
                        @issue.DeletedBy
                    </td>
                    <td>
                        @issue.DeletedReason
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section AddToHead{
    <script src="@Url.Content("~/Plugins/datatable/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/TPS/recover.js")"></script>

    <link href="~/Plugins/datatable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    }

    <div class="head">
        <div class="left">
           <div class="datePicker" style="margin-left: 20px;">
            Start From :
            <input type="text" class="datePicker short" style="width: 90px;" id="txtStartDate" />
        </div>
        <div class="datePicker">
            To :
            <input type="text" class="datePicker short" style="width: 90px;" id="txtEndDate" />
        </div>
        </div>
        <div class="right">
            <input class="search" placeholder="ค้นหา" id="txtSearchProblem" value=""/>
            <button class="btnTps long" style="width: auto;" id="btnSearch">SEARCH</button>
            <button class="btnTps long" style="width: auto;" id="btnRecover">RESTORE</button>
            <button class="btnTps long" style="width: auto;" id="btnDestroy">DELETE</button>
        </div>
    </div>
    <div class="section" id="divBreakdown">
        <div class="sectionTitle">
            <span>
                @*<img src="@Url.Content("~/Content/Images/waitingicon_summary.png")" />*@
                CANCEL UPON BREAKDOWN</span>
            <div class="btnCollapseSection"></div>
        </div>
        <div class="sectionContent">
            @{
                @table("tblBreakdown", bdData)
            }
        </div>
    </div>
    <div class="section" id="divDeleted">
        <div class="sectionTitle">
            <span>
                @*<img src="@Url.Content("~/Content/Images/waitingicon_summary.png")" />*@
                CANCEL UPON APPROVE</span>
            <div class="btnCollapseSection"></div>
        </div>
          <div class="sectionContent">
            @{
                @table("tblDel", delData)
            }
        </div>
    </div>

