﻿@using System.Web.Optimization;
@{
    Layout = null;
    Response.TrySkipIisCustomErrors = true;
}

<!DOCTYPE html>

<html>
<head>
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Styles.Render("~/Content/bootstrap-theme")

    <title>TPS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/MainLayout.css" rel="stylesheet" />
    <style>
        .rowtps {
            width:100%;
            text-align:center;
            margin-top:20px;
        }
        input {
            font-size:20px;
        }
        .col {
            display:inline-block;
            width:400px;
        }
        .rowtps input {
            width:100%;
            padding-left:20px;
            -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        .placeholder {
            width:100%;
            text-align:center;
        }
        body {
          @*  background-image: url(@(WebHelper.Constants.AppPath)Content/Images/background-login.jpg);*@
            background-repeat: no-repeat;
            -moz-background-size: cover;
            -o-background-size: cover;
            -webkit-background-size: cover;
            background-size:cover;
        overflow:hidden;
        }
        #imgDiv {
            margin-bottom:20px;
            margin-top:50px;
        }
        .right {
            text-align:right;
        }
    </style>
</head>
    
<body>
    <img style="position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1" src="@(WebHelper.Constants.AppPath)Content/Images/background-login.jpg" />
    <div class="placeholder">
        <form action="@(WebHelper.Constants.AppPath)Authen/Authen" method="POST" >
            <input type="hidden" name="returnUrl" value="@Request.Params["returnUrl"]" />
            @Html.AntiForgeryToken()
            <div id="imgDiv">
            <img src="~/Content/Images/ptt_icon.png" /><br />
                </div>
            <div class="rowtps">
            <div class="col"><input name="username" type="text" placeholder="Username"/>
                </div>
                <div class="rowtps">
            <div class="col">
                <input type="password" name="password" placeholder="Password" autocomplete="off" />
            </div>
                    </div>
            </div>
            <div class="rowtps ">
                
                <div class="col right">
                    @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
                    {
                        <span class="errMsg">@TempData["ErrorMessage"]</span>
                    }
                    <button type="submit" class="btnTps">LOG IN</button>
                </div>
                
            </div>
            
        </form>
    </div>
</body>
</html>
