﻿@using TPSWorkflow.DAL.DtoS
@using TPSWorkflow

@{
    ViewBag.Title = "TPS System";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string groupName, date, topic, plant, workgroup, billno;
    groupName = string.Empty;
    date = string.Empty;
    topic = string.Empty;
    plant = string.Empty;
    workgroup = string.Empty;
    billno = string.Empty;
    IssuesStatus status = IssuesStatus.New;

    if (this.Model is issuesDto)
    {
        var edittedModel = (issuesDto)Model;
        groupName = edittedModel.GroupName;
        var c = new System.Globalization.CultureInfo("en-US");
        date = edittedModel.ProblemDate.TPSDateTime();
        topic = edittedModel.ProblemName;
        plant = edittedModel.PlantDisplayCode;
        workgroup = edittedModel.WorkGroupNameTh;
        billno = edittedModel.BillNo;
        status = edittedModel.StatusEnum;
    }
    
    int id = -1;
    if (this.Model is issuesDto)
    {
        id = ((issuesDto)Model).IssueId;
    }
    else if (this.Model is problemDto)
    {
        id = ((problemDto)Model).IssueId;
    }
}

@section AddToHead{
    <link href="@Url.Content("~/Content/issue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Plugins/select2-3.4.1/select2.js")"></script>
    <link href="@Url.Content("~/Plugins/select2-3.4.1/select2.css")" rel="stylesheet" />

     <script src="@Url.Content("~/Plugins/uploadify/jquery.uploadify.min.js")" ></script>
    <link href="@Url.Content("~/Plugins/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
}

<script type="text/javascript">
    
    $(document).ready(function () {
        @if (id!=-1) {
            @:$('#mnuSummary').addClass('selected');
        }
        else {
            @:$('#mnuNew').addClass('selected');
        }
    });
    $(document).on('click', '.StepSelector:not(.nolink)', function () {
        if ($(this).children('.nolink').length == 0) {
            window.location.href = $(this).find('a').attr('href');
        }
    });
</script>


<div class="mainPlaceHolder">
    
    
    <div class="contentPlaceHolder">
    @if (id!=-1)
    {
        <input type="hidden" id="issueid" value="@id" />
        <div class="topissue">
            <table id="tblIssueSummarize" class="dt">
                <thead>
                    <tr>
                        <th style="width:10%;">Group
                        </th>

                        <th style="width:10%;">วันที่
                        </th>
                        <th style="width:10%;">เลขที่ใบแจ้งซ้อม
                        </th>
                        <th style="width:50%;">หัวเรื่อง
                        </th>
                        <th style="width:10%;">โรงแยกก๊าซ
                        </th>
                        <th style="width:10%;">กลุ่มงาน
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="min-width:100px;">
                            @groupName
                        </td>
                        <td style="min-width:100px;">
                            @Html.Raw(date)
                        </td>
                         <td style="min-width:100px;">
                            @billno
                        </td>
                        <td style="max-width:600px;">
                            <div class="topic">@topic</div>
                        </td>
                        <td style="min-width:100px;">
                            @plant
                        </td>
                        <td style="min-width:100px;">
                            @workgroup
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    }



    <div class="bodyPlaceHolder">
        @RenderBody()
    </div>
    
</div>
    <div class="stepSelectorPlaceHolder">
        @if (id!=-1) {
            
            <div class="StepSelector step1"><a href="@Url.Content("~/Issues/EditInfo/" + id)">Registration</a></div>
            if (status!=IssuesStatus.New)
            {
                <div class="StepSelector step2"><a href="@Url.Content("~/Issues/Approve/" + id)">Assignment</a></div>
            }
            if (!(status == IssuesStatus.New || status == IssuesStatus.Pending || status == IssuesStatus.Cancel || status == IssuesStatus.Waiting))
            {
            <div class="StepSelector step3">
                    <a href="@Url.Content("~/Issues/SolveDetail/" + id)">Preparation</a>
            </div>
            }
            if (status == IssuesStatus.Ready || status == IssuesStatus.Recorded || status == IssuesStatus.ClosedWaitKM || status==IssuesStatus.PendingAfterMeeting)
            {
                <div class="StepSelector step4">
                    <a href="@Url.Content("~/Issues/KM/" + id)">Meeting</a>    
                </div>
            }
        }
    </div>
</div>
