﻿@using TPSWorkflow.DAL.DtoS;
@model TPSWorkflow.DAL.DtoS.issuesDto

@{
    ViewBag.Title = "IssueApprove";
    Layout = "~/Views/Issues/IssueLayout.cshtml";
}

@{
    var userData = (List<PersonalInfoDto>)ViewData["users"];
}
<script>
    jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    $(document).ready(function()
    {
        $('.step2').addClass('selected');
    });
    
    var isEditable = @ViewData["isEditable"].ToString().ToLower();
</script>
<script src="@Url.Content("~/Scripts/TPS/issue_approve.js")" ></script>


<form id="formApprove" action ="@Url.Content("~/Issues/SubmitIssueApprove")" method="post">
    <input type="hidden" name="json" id='json' value="" />
    <div class="issueSection">
        <div>
            <input type="radio" name="sltApprove" id="rdApprove" @if(Model.StatusEnum==IssuesStatus.Approve || ((int)Model.StatusEnum > (int)IssuesStatus.Pending && Model.StatusEnum!=IssuesStatus.Cancel)) {
                                                                     @:checked
                                                                     Model.PendingMonth = null;
                                                                     Model.CancelDetail = string.Empty;
                                                                 }/>
            <label for="rdApprove"> APPROVE</label>
        </div>
        <div>
            <div class="select2div userId">
                <select size="1" class="select2" name="sltReponser" id="sltReponser">
                    @foreach (var user in userData)
                    {

                        if (user.CODE == Model.InchargeUserCode)
                        {
                        <option selected value="@user.CODE">@user.CODE</option>
                            }
                          else
                          {
                        <option value="@user.CODE">@user.CODE</option>
                            }

                    }
                </select>
                <br />
                <span class="smallLabel">
                    ID
                </span>
            </div>
            <div class="select2div longInput">
                <select class="select2" name="sltUserFullName" id="sltUserFullName">
                    @foreach (var user in userData)
                    {
                        var fullName = user.INAME + user.FNAME + " " + user.LNAME;

                        if (user.CODE == Model.InchargeUserCode)
                        {
                            <option data-email="@user.EmailAddr" selected value="@user.CODE">@fullName</option>
                        }
                        else
                        {
                            <option value="@user.CODE" data-email="@user.EmailAddr" >@fullName</option>
                        }
                    }
                </select>
                <br />
                <span class="smallLabel">
                    NAME
                </span>
            </div>
        </div>
    </div>
    <div class="issueSection">
        <div>
            <input type="radio" name="sltApprove" id="rdPending" @if(Model.StatusEnum==IssuesStatus.Pending) {
                                                                     @:checked
                                                                 }/>
            <label for="rdPending">PENDING</label>
        </div>
        @*<input type="text" class="longInput datepicker" name="pendingDate" id="txtPendingDate"/>*@
        <div style="vertical-align:baseline">
            <input readonly type="text" class="x" style="width:200px; " id="txtPendingDateDisplay" value="" /> 
            <button id="btnChoosePendingMonth" class="dropdown"></button>
            <input readonly type="text" class="x" style="width:200px; display:none; " id="txtPendingDate" value="@((Model.PendingMonth - DateTime.Now.Month))" /> 
        </div>
        
    </div>
    <div class="issueSection">
        <div>
            <input type="radio" name="sltApprove" id="rdCancel" @if(Model.StatusEnum==IssuesStatus.Cancel) {
                                                                     @:checked
                                                                 }/>
            <label for="rdCancel">RE-APPROVE</label>
        </div>
        <textarea rows="5" cols="100" name="txtCancelDetail" id="txtCancelDetail">@Model.CancelDetail</textarea>
    </div>

    <div class="submitPlaceHolder issueSection last">


        @if (ViewData["isEditable"].Equals(true))             
        {
            <button type="submit" id="btnSubmit" class="btnTps right">SAVE</button>
            <button type="button" id="btnDelete" class="btnTps right">CANCEL</button>
        }

    </div>


</form>
