﻿@using TPSWorkflow.DAL.DtoS;
@model TPSWorkflow.DAL.DtoS.issuesDto

@{
    //ViewBag.Title = "IssueInfo";
    Layout = "~/Views/Issues/IssueLayout.cshtml";
    string isDigitDisable = "";
    
}
@{
    string billNo = "            ";
    issuesDto curModel = null;
    if (Model == null)
    {
        billNo = "            ";
        curModel = new issuesDto();
        curModel.IssueId = -1;
    }
    else
    {
        billNo = Model.BillNo;
        curModel = Model;
    }
    
}
<script src="@Url.Content("~/Scripts/TPS/issue.js")" ></script>
<script>
    jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    $(document).ready(function()
    {
        $('.step1').addClass('selected');
    });
    var isEditable = @ViewData["isEditable"].ToString().ToLower() ;
    $(document).ready(function() {
        
        if (!isEditable) {
            $('input, select, textarea').prop('disabled',true);
        }
        $('.bodyPlaceHolder').addClass('nostyle');
    });
</script>

<form action ="@Url.Content("~/Issues/SubmitIssueInfo")" method="post">
    <div class="tpscontainer shadow">
        <input type="hidden" id="issueid" name="issueid" value="@curModel.IssueId" />
        <div class="issueSection">
            <div class="editpart">
                @if (Model != null)
                {
                    isDigitDisable = "disabled";
                }
                @for (int i = 0; i < 10; i++)
                {
                    <input type="text" class="billNoDigit" name="@string.Format("billNo{0}", i)" id="@string.Format("txtBillNo{0}", i)" value ="@billNo[i]" @isDigitDisable/>
                }
                @if (Model == null)
                {
                    <button class="btn" id="btnSubmitBillNo">ดึงข้อมูล</button>
                }
            </div>
            <div class="infopart twoline">
                เลขที่ใบแจ้งซ่อม <br />
                (Notification Number)
            </div>
        </div>
        <div class="issueSection">
            <div class="editpart">
                <input type="text" name="repairNo" id="txtRepairNo" class="textOrder" value="@curModel.RepairBillNo"/>
            </div>
            <div class="infopart twoline nonrequired" >
                เลขที่ใบสั่งซ่อม <br />
                (Work Order Number)
            </div>
        </div>
        <div class="issueSection">
            <div class="editpart">
                <div class="plantSelect">
                    <select size="1" class="shortSelect" name="plantId" id="sltPlantId">
                        @{
                            var sb = new System.Text.StringBuilder();
                            var plantCodes = (List<allowplantDto>)ViewData["plants"];
                            plantCodes.ForEach(c =>
                            {
                                string html;
                                if (Model != null && c.plantshortcode == Model.plantshortcode)
                                {
                                    html = string.Format("<option selected value=\"{0}\">{1}</option>", c.plantshortcode, c.plantdisplaycode);
                                }
                                else
                                    html = string.Format("<option value=\"{0}\">{1}</option>", c.plantshortcode, c.plantdisplaycode);
                                sb.AppendLine(html);

                            });
                            var longText = sb.ToString();
                        }
                        @Html.Raw(longText);
                    </select>
                </div>
                <div class="plantEdit"><input type="text" class="plantDisplay disabled" name="plantCode" id="txtPlantCode" disabled="disabled" value="@curModel.plantcode"/></div>
            </div>
            <div class="infopart twoline">
                โรงแยกก๊าซ <br />
                (Plant)
            </div>
        </div>
        <div class="issueSection">
            <div class="editpart">
                <div class="plantSelect"><input type="text" id="txtMachineNo" name="txtMachineNo" value="@curModel.MachineNo" /></div>
                    
                    <div class="plantEdit"><input type="text" class="plantDisplay" id="txtMachineFullName" name="txtMachineFullName" value="@curModel.MachineFullName" /></div>
                    <div id="isLoadPlant" ></div>
            </div>
            <div class="infopart twoline">
                เครื่องจักร <br />
                (Equipment tag)
            </div>
        </div>
        <div class="issueSection">
            <div class="editpart">
                <select size="1" name="unitcode" class="textOrder" id="sltWorkGroupId">
                    @{
                        sb = new System.Text.StringBuilder();
                        var GroupCodes = (List<workgroupDto>)ViewData["workgroups"];
                        GroupCodes.ForEach(c =>
                        {
                            string html;
                            if (Model != null && Model.unitcode == c.unitcode)
                                html = string.Format("<option selected value=\"{0}\">{1}</option>", c.unitcode, c.WorkGroupNameTH);
                            else
                                html = string.Format("<option value=\"{0}\">{1}</option>", c.unitcode, c.WorkGroupNameTH);
                            sb.AppendLine(html);
                        });
                        longText = sb.ToString();
                        }
                    @Html.Raw(longText);
                </select>
            </div>
            <div class="infopart">
                กลุ่มงานรับผิดชอบ
            </div>
        </div>
        <div class="issueSection last">
            <div class="editpart">
                <input type="text" id="problemDate" class="datepicker textOrder" name="problemDate" /> <div data-for="problemDate" class="calIcon" id="calProblemDate"></div>
            </div>
            <div class="infopart">
                วันที่พบปัญหา <br />
                (Notification Date)
            </div>O
        </div>
        @*<div class="issueSection">
            <div class="editpart">

            </div>
            <div class="infopart">

            </div>
        </div>*@
    </div>
    <div class="tpscontainer shadow">
        <div class="issueSection">
            <div class="editpart">
                <input type="text" id="txtProblemName" name="problemName" value="@curModel.ProblemName"/>
            </div>
            <div class="infopart">
                ชื่อปัญหา<br />
                (Problem)
            </div>
        </div>
        <div class="issueSection">
            <div class="editpart">
                <textarea name="problemDetail" id="txtProblemDetail" cols ="30" rows =" 5" >@curModel.ProblemDetail</textarea>
            </div>
            <div class="infopart">
                รายละเอียดปัญหา <br />
                (Detail)
            </div>
        </div>
        <div class="issueSection">
            <div class="editpart">
                <input type="text" id="fixDate"  class="datepicker short" name="fixDate" />
                <div class="calIcon" id="calFixDate"></div>
            </div>
            <div class="infopart">
                วันที่เริ่มแก้ไข              <br />
                (Start Date)
            </div>
        </div>
        <div class="issueSection last">
            <div class="editpart">
                <input type="text" id="dueDate" class="datepicker short" name="dueDate" />
                <div class="calIcon" id="calDueDate"></div>
            </div>
            <div class="infopart">
                วันที่ดำเนินการเสร็จ         <br />
                (Finish Date)
            </div>
        </div>
        
    </div>
                   @if(ViewData["isEditAble"].Equals(true))
    {
        <div class="submitPlaceHolder">
            
            @if (Model != null && Model.StatusEnum == IssuesStatus.Cancel && Model.IsCancelAndEditted)
            {
                <button id="btnReApprove" class="btnTps right" style="width:120px;">REAPPROVE</button>
            }
            <button type="submit" id="btnSubmit" class="btnTps right">SAVE</button>
            @if (Model != null && Model.StatusEnum == IssuesStatus.New && ViewData["isCanUnbreakDown"] != null && ViewData["isCanUnbreakDown"].Equals(true))
            {
                <button id="btnUnbreakDown" class="btnTps right" type="button" style="width:120px;">CANCEL</button>
            }
        </div>
    }
</form>

