﻿@model TPSWorkflow.DAL.DtoS.issuesDto

@using TPSWorkflow.DAL.DtoS;

@{
    ViewBag.Title = "TPS Workflow";
    Layout = "~/Views/Issues/IssueLayout.cshtml";
    
    
}
<script src="@Url.Content("~/Scripts/TPS/issue_detail.js")" ></script>
<script>
    var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.problem));
    //$('.step1').addClass('selected');
    var isEditable = @ViewData["isEditable"].ToString().ToLower();
    var issueId = @Model.problem.IssueId;
    $(document).ready(function()
    {
        $('.step3').addClass('selected');
    });
</script>

<form action ="@Url.Content("~/Issues/SubmitIssueDetail/" + Model.problem.IssueId)" method="post">
    <div class="tpscontainer">

        <input type="hidden" name="json" id="formjson" />
        <input type="hidden" name="delFileIdsJson" id="delFileIdsJson" />
        <div class="issueSection">
            <div class="editpart">
                <textarea data-validatetxt="ข้อมูลเบื้องต้น"  rows="5" id="txtBaseProblem">@Model.problem.BaseProblem</textarea>
            </div>
            <div class="infopart twoline">
                ข้อมูลเบื้องต้น <br />
                (Event)
            </div>
        </div>
     @*   <div class="issueSection">
            <div class="editpart">
                <textarea  rows="5" id="txtFixDetail">@Model.problem.FixDetail</textarea>
            </div>
            <div class="infopart">
                ขั้นตอนในการแก้ปัญหา
            </div>
        </div>*@
        <div class="issueSection">
            <div class="editpart filetable">
                @{
                    if (Model.problem.problem_file == null || Model.problem.problem_file.Count == 0)
                    {

                        @:<div class="fileLabel title"><label>No File in this Issue</label><br /></div>

                    }
                    else
                    {
                        foreach (var file in Model.problem.problem_file)
                        {
                            @:<div class="fileLabel"  data-fileId="@file.FileId"> <div class="btnDelFile" data-fileId="@file.FileId"></div> <label><a href="@Url.Content("~/File/Summary?id=" + file.FileId)" >@file.FileName</a></label> <br /></div>
                        }
                    }
                    @*<hr />*@
                    
                }

            </div>
            <div class="infopart">
                
                ขั้นตอนการวิเคราะห์ <br />
                (Analysis Tool) <br />                               <br />
                <button id="btnAddFile" class="upload">+</button>
                <br />
                <div class="hide forupload">(ไฟล์จะถูกอัพโหลดเมื่อเซฟ)</div>
            </div>
        </div>
        <div class="issueSection">
            <div class="editpart">
                <textarea data-validatetxt="สาเหตุที่เป็นไปได้"    rows="5" id="txtPossibleCause">@Model.problem.PossibleCauses</textarea>
            </div>
            <div class="infopart twoline">
                สาเหตุที่เป็นไปได้ <br />
                (Possible Cause)
            </div>
        </div>
        <div class="issueSection">
            <div class="editpart">
                <textarea data-validatetxt="สาเหตุของปัญหา"   rows="5" id="txtProblemCause">@Model.problem.ProblemCauses</textarea>
            </div>
            <div class="infopart twoline">
                สาเหตุของปัญหา <br />
                (Root Cause)
            </div>
        </div>
        <div class="issueSection">
            <div class="editpart">
                <textarea data-validatetxt="แนวทางการแก้ไข"   rows="5" id="txtSolve">@Model.problem.SolveDirection</textarea>
            </div>
            <div class="infopart twoline">
                แนวทางการแก้ไข<br />
                (Action)
            </div>
        </div>
@*        <div class="issueSection">
            <div class="editpart">
                <textarea data-validatetxt="สาเหตุที่แท้จริง" " id="txtRealCause" rows="5">@Model.problem.RealCauses</textarea>
            </div>
            <div class="infopart twoline">
                สาเหตุที่แท้จริง<br />
                (Real Cause)
            </div>
        </div>
         <div class="issueSection last">
            <div class="editpart">
                <textarea data-validatetxt="แนวทางป้องกันปัญหาที่ถาวร"  id="txtPrevention" rows="5">@Model.problem.LongTermPrevention</textarea>
            </div>
            <div class="infopart twoline">
                แนวทางป้องกันปัญหาที่ถาวร <br />
                (Long Term Prevention)
            </div>
        </div>*@
    </div>
       @if (ViewData["isEditable"].Equals(true))
    {
        <div class="submitPlaceHolder">
            <button type="submit" id="btnSubmit" class="btnTps right">SAVE</button>
        </div>
    }
</form>
