﻿@model TPSWorkflow.DAL.DtoS.issuesDto

@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;

@{
    ViewBag.Title = "TPS Workflow";
    Layout = "~/Views/Issues/IssueLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/TPS/issue_KM.js")" ></script>
<script>
    var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    $(document).ready(function()
    {
        $('.step4').addClass('selected');
    });
    var isEditable = @ViewData["isEditable"].ToString().ToLower();
    var issueId = @Model.summary.IssueId;
    var isKmAble = @ViewData["isKmAble"].ToString().ToLower();
</script>

<form action ="@Url.Content("~/Issues/SubmitKM")" method="post">
    <input type="hidden" name="json" id="formjson" />
    <input type="hidden" name="delFileIdsJson" id="delFileIdsJson" />
    <input type="hidden" name="issueid" value="@Model.IssueId" />
    <div class="tpscontainer">
        <div class="issueSection">
            <div class="editpart">
                @{
                    if (Model.summary.summary_km == null || Model.summary.summary_km.Count == 0)
                    {

                    @:<div class="fileLabel"><label>No File in this Issue</label><br /></div>

                    }
                    else
                    {
                        foreach (var file in Model.summary.summary_km)
                        {
                    @:<div class="fileLabel"  data-KmId="@file.KmId"> <div class="btnDelFile" data-fileId="@file.KmId"></div><label><a href="@Url.Content("~/File/KM?id=" + file.KmId)" >@file.FileName</a></label> <br /></div>
                        }
                    }
                    <hr />
                    <button id="btnAddFile" class="upload">+</button>
                    <div class="hide forupload">(ไฟล์จะถูกอัพโหลดเมื่อเซฟ)</div>
                }

            </div>
            <div class="infopart nonrequired">
                KM (Knowledge Management)
            </div>
        </div>
        
    </div>
    <div class="issueSection">
        <div class="issueSubSection">
            <div class="editpart">
                วันที่ประชุมล่าสุด : @(ViewData["meetingDate"]) <br />
                วันที่ประชุมครั้งถัดไป : @ViewData["nextMeetingDate"] 
            </div>
            <div class="infopart">
                วันที่ประชุม <br />
                (Meeting Date)
            </div>
        </div>
        <div class="issueSubSection">
            <div class="editpart">
                <textarea cols="50" rows="5" id="txtSuggestion">@Model.summary.Suggestion</textarea>
            </div>
            <div class="infopart">
                ข้อเสนอแนะ
            </div>
        </div>

        <div class="issueSubSection">
            <div class="editpart">
                <textarea cols="50" rows="5" id="txtFinalize">@Model.summary.Finalize</textarea>
            </div>
            <div class="infopart">
                มติที่ประชุม
            </div>
        </div>
    </div>
    @{
        var finalInt = (int)SummaryStatus.Final;
        var RemeetingInt = (int)SummaryStatus.Remeeting;
    }
    <div class="issueSection">
        @{
            var reMeetingMonth = string.Empty;
            if (Model.summary.StatusEnum == SummaryStatus.Remeeting)
            {
                reMeetingMonth = Model.summary.ReSumForMonth.ToString();
            }
        }
        <div class="half"><input type="radio" name="rdStatus" class="rdStatus" id="rdStatusFinal" value="@finalInt" @if (Model.summary.StatusEnum == SummaryStatus.Final) { <text>checked</text> } /> <label for="rdStatusFinal">อนุมัติปิดเรื่อง</label> </div>
        <div class="half">
            <input type="radio" name="rdStatus" class="rdStatus" id="rdStatusReMeeting" value="@RemeetingInt" @if (Model.summary.StatusEnum == SummaryStatus.Remeeting) { <text>checked</text> }/> <label for="rdStatusReMeeting">นำกลับเข้าที่ประชุมใหม่</label> 
            <br />
            <input readonly hidden type="text" id="txtReMeetingMonth" class="" style="width:30%;" value="@reMeetingMonth" /> 
            <input readonly type="text" id="txtReMeetingMonthDisplay" class="" style="width:30%;" value="" /> <button id="btnChooseReMtgMonth" class="dropdown"></button>
        </div>
    </div>
    @if (ViewData["isKmAble"].Equals(true) || ViewData["isEditable"].Equals(true))
    {
     <div class="submitPlaceHolder issueSection last">
            <button type="submit" id="btnSubmit" class="btnTps right">SAVE</button>
        </div>
    }
</form>

