﻿<table>
    <tr>
        <td colspan="3" style="border-style:solid;border-color:windowtext;border-width:1.5pt 1.5pt 1pt;background-color:rgb(0,32,96);padding:0cm 5.75pt;height:20.1pt;">Title</td>
    </tr>
    <tr>
        <td style="border-style:none solid solid;border-left-color:windowtext;border-left-width:1.5pt;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;background-color:rgb(146,205,220);padding:0cm 5.75pt;height:20.1pt;">ลำดับ</td>
        <td style="border-style:none solid solid;border-left-color:windowtext;border-left-width:1.5pt;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;background-color:rgb(146,205,220);padding:0cm 5.75pt;height:20.1pt;">รายละเอียดการประชุม</td>
        <td style="border-style:none solid solid;border-left-color:windowtext;border-left-width:1.5pt;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;background-color:rgb(146,205,220);padding:0cm 5.75pt;height:20.1pt;">ผู้รับผิดชอบ</td>
    </tr>
    <tr>
        <td style="text-align:center;"></td>
        <td></td>
        <td></td>
    </tr>
</table>
