﻿
@{
    ViewBag.Title = "Activity Log";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/TPS/activitylog.js")"></script>
}
<div class="head">
    <div class="left"><h2>Activity Log</h2></div>
</div>

<div class="head mailhistory">
    <div class="left" style="width:800px;">         
        <div class="datePicker">
            Start From :
            <input type="text" class="datePicker short" style="width: 130px;" id="txtStartDate" />
        </div>
        <div class="datePicker">
            To :
            <input type="text" class="datePicker short" style="width: 130px;" id="txtEndDate" />
        </div>
        <button class="btn btnTps" id="btnExportLog">Export</button>
        
    </div>
</div>