﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;
@model ApproverViewModel

@{
    ViewBag.Title = "TPS Workflow";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/settings.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Plugins/select2-3.4.1/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Plugins/select2-3.4.1/select2.min.js")"></script>
}



<script>
    @*var isEditable = @ViewData["isEditable"].ToString().ToLower();*@
    var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    $(document).ready(function () { $('#mnuSettings').addClass('selected'); });
</script>


<script src="@Url.Content("~/Scripts/TPS/dynApprover.js")"></script>



<div class="contentPlaceHolder">
    <div class="settingHead">
        DYNAMIC APPROVER
    </div>
    <div class="tpscontainer shadow shadow" id="mainContainer">
        <div class="tpsSection">
            <div class="line wgLine">
                <div class="section1"></div>
                <div class="section2">กลุ่มงานรับผิดชอบ</div>
                <div class="section3">
                    <select class="select2" id="sltWorkgroup">
                        @foreach (var wg in Model.WorkGroups)
                        {
                            @:<option value="@wg.unitcode">@wg.WorkGroupNameTH</option>
                    }
                    </select>
                </div>
            </div>
            <div class="approversPlaceholder" id="mainApproversPlaceholder">
            </div>
            @*<div class="line approverline">
                
                </div>
                <div class="section2">
                    <div class="usercode" id="mainUserCode"></div>
                </div>
                <div class="section3">
                    <div class="userfullname" id="mainUserFullName"></div>
                </div>
            </div>*@
        </div>
        <div class="tpsSection last">
            <div class="line addLine">
                <button class="btnTps btnAdd" id="btnAdd">ADD +</button>

            </div>
            <div class="approversPlaceholder" id="approversPlaceholder">
            </div>
        </div>
    </div>
    
</div>
<div class="contentPlaceHolder">
    <div class="settingHead">
        DYNAMIC PRESENTER
    </div>
    <div class="tpscontainer shadow shadow" id="presnterContainer">
        <div class="tpsSection">
            <div class="line wgLine">
                <div class="section1"></div>
                <div class="section2">กลุ่มงานรับผิดชอบ</div>
                <div class="section3">
                    <select class="select2" id="sltWorkGroupPresenter">
                        @foreach (var wg in Model.WorkGroups)
                        {
                            @:<option value="@wg.unitcode">@wg.WorkGroupNameTH</option>
                    }
                    </select>
                </div>
            </div>
            <div class="approversPlaceholder" id="mainPresenterPlaceHolder">
            </div>
            @*<div class="line approverline">
                
                </div>
                <div class="section2">
                    <div class="usercode" id="mainUserCode"></div>
                </div>
                <div class="section3">
                    <div class="userfullname" id="mainUserFullName"></div>
                </div>
            </div>*@
        </div>
        <div class="tpsSection last">
            <div class="line addLine">
                <button class="btnTps btnAdd" id="btnAddPresenter">ADD +</button>

            </div>
            <div class="approversPlaceholder" id="presenterPlaceholder">
            </div>
        </div>
    </div>
    
</div>


<div class="line approverline prototype">
    <div class="section1">
        <div class="tpsChb">
            <input type="checkbox" class="isApproverSelect" checked /></div>
    </div>
    <div class="section2">
        <div class="usercode forhightlight"></div>
    </div>
    <div class="section3">
        <div class="userfullname forhightlight"></div>
        

    </div>
    <div class="section31">
        <div class="userunit forhightlight" style="width:0px; display:inline-block;"></div>
    </div>
    <div class="section4">
        <button class="btnTps btnDelApprover btnDelSmall">X</button></div>
        
</div>


<div id="dlgPlaceHolder" class="hide">

    <div id="addApproverDiv">
        <div class="line">
            <div class="section1">
                <input type="text" id="txtSearchUser" class="search" placeholder="search" />
            </div>
            <div class="sectionlast">
                <button class="btnTps" id="btnCloseAdd">CLOSE X</button>
            </div>
        </div>
        <div id="addApproverPlaceHolder" class="approversPlaceholder">
        </div>
        <div class="line">
            <div class="sectionlast">
                <button class="btnTps" id="btnAddConfirm">ADD</button>
            </div>
            <input type="hidden" id="addType" value="" />
        </div>
    </div>

</div>
