﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;
@using Ecobz.Utilities;

@section AddToHead{
    <script src="@Url.Content("~/Plugins/datatable/js/jquery.dataTables.js")"></script>

    <link href="~/Plugins/datatable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/TPS/mailhistory.js")"></script>
}
@{
    var groupList = (List<groupDto>)ViewData["groupList"];
}

<div class="head mailhistory">
    <div class="left" style="width:800px;">
         E-mail operation: <select size="1" class="groupSelect" id="sltLogTypeSelect">
            @{
                var vals = Enum.GetValues(typeof(TPSWorkflow.DAL.MailLogType));
                foreach(var k in vals)
                {
                    var thisEnum = (TPSWorkflow.DAL.MailLogType)k;
                    <option value="@((int)k)">@thisEnum.GetDescription()</option>
                }
            }right
        </select>
        Group:
        <select id="sltGroupVal" class="groupSelect">
            <option value="-1" selected>All</option>
            @foreach (var group in groupList)
            {
                <option value="@group.GroupId">@group.GroupName</option>
            }
        </select>
        <div class="datePicker" style="margin-left: 20px;">
            Start From :
            <input type="text" class="datePicker short" style="width: 90px;" id="txtStartDate" />
        </div>
        <div class="datePicker">
            To :
            <input type="text" class="datePicker short" style="width: 90px;" id="txtEndDate" />
        </div>
        
        
    </div>
    <div class="right" style="width:150px; float:right; margin-right:10px;">
        <input class="search" placeholder="ค้นหาผู้รับ" id="txtSearchMailLog" value=""/>
    </div>
</div>

<div class="tablesection">
    <div class="sectionTitle">
        <span>MAIL HISTORY</span>

    </div>
    <table class="dt" id="tblMailLog">
        <thead  class="tpsLabel">
            <tr>
                <th>เวลาที่ส่ง</th>
                <th>ส่งสำเร็จ?</th>
                <th>ประเภทอีเมล์</th>
                <th>ผู้รับ</th>
                <th>CC</th>
                <th>ข้อผิดพลาด(ถ้ามี)</th>
                <th>Group</th>
            </tr>
        </thead>
        <tbody>

    </tbody>
    </table>
    
</div>

<div id="contentDlg" class="dialog hide" >
    <div class="contentType">To:</div>
    <div class="content" id="cntTo"></div>
    <div class="contentType">CC:</div>
    <div class="content" id="cntCC"></div>
    <div class="contentType">Content:</div>
    <div class="content" id="cntBody"></div>
</div>