﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;
@model mail_templateDto

@{
    ViewBag.Title = "TPS Workflow";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/settings.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Plugins/select2-3.4.1/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Plugins/select2-3.4.1/select2.min.js")"></script>
}



<script>
    @*var isEditable = @ViewData["isEditable"].ToString().ToLower();*@
    var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    $(document).ready(function () { $('#mnuSettings').addClass('selected'); });
</script>


<script src="@Url.Content("~/Scripts/TPS/mail.js")"></script>



<div class="contentPlaceHolder">
    <div class="settingHead">
        TEMPLATE E-MAIL
    </div>
    <form method="post" action="@Url.Content("~/Settings/SubmitTemplateEmail")">
        <div class="tpscontainer shadow shadow" id="mainContainerMail">
            <div class="tpsSection">
                <div class="line">
                    <div class="linelabel">วาระที่ 1 : </div><div class="lineinput"><input type="text" class="emailText" name="text1" id="text1" value="@Model.Text1" /></div>
                </div>
            </div>
            <div class="tpsSection">
                <div class="line">
                    <div class="linelabel">วาระที่ 2 : </div><div class="lineinput"><input type="text" class="emailText" name="text2" id="text2" value="@Model.Text2" /></div>
                </div>
            </div>
            <div class="tpsSection">
                <div class="line">
                    <div class="linelabel">วาระที่ 3 : </div><div class="lineinput"><input type="text" class="emailText" name="text3" id="text3" value="@Model.Text3" />
                        </div>
                </div>
            </div>
            <div class="tpsSection">
                <div class="line">
                    <div class="linelabel">วาระที่ 4 : </div><div class="lineinput"><input type="text" class="emailText" name="text4" id="text4" value="@Model.Text4" /></div>
                </div>
           </div>
            <div class="tpsSection">
                <div class="line">
                    <div class="linelabel">สถานที่ประชุม : </div><div class="lineinput"><input type="text" class="emailText" name="locationRoom" id="locationRoom" value="@ViewData["LocationRoom"]" /></div>
                </div>
           </div>
        </div>
        <div class="scline line">
            <div class="sectionlabel">
                <input type="submit" class="btnTps btnSave" id="btnSave" value="SAVE" />
            </div>
        </div>
    </form>
</div>
