﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;
@model SchedulerViewModel

@{
    ViewBag.Title = "TPS Workflow";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/settings.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Plugins/select2-3.4.1/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Plugins/select2-3.4.1/select2.min.js")"></script>
}

@{
    var dayInWeek = new string[5] { "จ.", "อ.", "พ.", "พฤ.", "ศ." };
    var currentGroup = TempData["currentGroup"] == null ? "null" : TempData["currentGroup"].ToString();
}

<script>
    @*var isEditable = @ViewData["isEditable"].ToString().ToLower();*@
    var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Groups));
    var allPlants = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AllPlants));
    var currentGroup = @currentGroup;
    $(document).ready(function () { $('#mnuSettings').addClass('selected'); });
    var isCanShift = @ViewData["isCanShiftMeeting"].ToString().ToLower() ;
    
</script>


<script src="@Url.Content("~/Scripts/TPS/scheduler.js")"></script>

<div class="contentPlaceHolder">
    <div class="settingHead">
        <div style="float:left; margin-left:10px;">
            @for(int ii=0;ii<Model.MeetingDates.Count;ii++)
            {
                var thisDate = Model.MeetingDates[ii];
                var dateString = thisDate.TpsMailDateTime();
                if (thisDate.Month - DateTime.Now.Month >= 2 && Model.Groups[ii].WeekOfMonth == 5)
                {
                    dateString += " (วันที่ประชุมอาจมีความผิดพลาดเนื่องจากไม่พบวันตามเงื่อนไขในเดือนถัดไป)";
                }
                <span class="hide mtgDate" id="@("mtgDate" + ii.ToString())">วันประชุมครั้งถัดไป : @dateString</span>
            }
        </div>
        MEETING SCHEDULE
    </div>
    <div class="tpscontainer shadow" id="maincontainer">
        <div class="tpsSection" id="groupPlantPlaceHolder">
            <div class="scline">
                <div class="section1">
                    <select class="select2" id="sltGrp">
                        @foreach (var group in Model.Groups)
                        {
                            @:<option  value="@group.GroupId">@group.GroupName</option>
                        }
                    </select>
                </div>
                <div class="sectionlabel">
                    GROUP
                </div>
            </div>
            <div class="scline" id="plantLine">
                <div class="section1">
                    <div class="tpslabel">โรงแยกก๊าซ</div>
                    <div id="plantPlaceHolder">

                    </div>
                    <div class="plantlinebtn">
                        <button class="btnTps short" id="btnAddPlant">+</button>
                    </div>
                </div>
                
                <div class="sectionlabel">
                    <span class="hide changed">*</span>
                </div>
            </div>
        </div>
    
    <div class="tpsSection" id="dayPlaceHolder">
        <div class="scline">
            <div class="section1">
                @{
                    int i=1;
                    foreach (var day in dayInWeek)
                    {
                        var id = "chbday"+i;
                        @:<div class="chb"><input type="radio" name="dayselect" class="chbday" id="@id" value="@i" /><label for="@id">@day</label></div>
                        i++;
                    }
                }
            </div>
            <div class="section2">
                วัน
            </div>
        </div>
        <div class="scline">
            <div class="section1">
                <div class="chb">
                    <input type="radio" value="1" class="weekselect" name="weekselect" id="week1" /><label for="week1">1.</label>
                </div>
                <div class="chb">
                    <input type="radio" value="2" class="weekselect" name="weekselect" id="week2" /><label for="week2">2.</label></div>
                <div class="chb">
                    <input type="radio" value="3" class="weekselect" name="weekselect" id="week3" /><label for="week3">3.</label>
                </div>
                <div class="chb">
                    <input type="radio" value="4" class="weekselect" name="weekselect" id="week4" /><label for="week4">4.</label>
                </div>
                <div class="chb">
                    <input type="radio" value="5" class="weekselect" name="weekselect" id="week5" /><label for="week5">5.</label>
                </div>
            </div>
            <div class="section2">
                สัปดาห์ 
            </div>
            <div class="sectionlabel">
                กำหนดวันประชุม <span class="hide changed">*</span>
            </div>
        </div>
        <div class="scline">
            <div class="section1">
                <div style="vertical-align: middle;">
                    <input type="checkbox" id="chbIsShift" />&nbsp;
                    <div style="display: inline-block;  position: absolute; top: 5px;">
                        <label for="chbIsShift" style="">เลื่อนวันประชุม?</label>
                                                               
                         
                    </div>
                </div>

            </div>
            
        </div>
        <div class="scline" id="dateShift">
            <span class="" style="margin-left:30px;" id="shiftLabel">
                        ถึงวันที่ : 
                             <input class="datepicker" id="txtDateShift"/>
                    </span>
        </div>

        <div class="scline">
            <div class="section1">
                <div style="vertical-align: middle;">
                    <input type="checkbox" id="chbIsSuspended" />&nbsp;
                    <div style="display: inline-block;  position: absolute; top: 5px;">
                        <label for="chbIsSuspended" style="">ยกเลิกวันประชุม?</label>
                                                               
                         
                    </div>
                </div>

            </div>
            
        </div>
        <div class="scline" id="dateSuspended">
            <span class="" style="margin-left:30px;" id="suspendedLabel">
                        ถึงวันที่ : 
                             <input class="datepicker" id="txtSuspendDate"/>
                    </span>
        </div>
        <div class="scline">
            <div class="section1">
                <div style="vertical-align: middle;">
                    <input type="checkbox" id="chbIsChangeLocation" />&nbsp;
                    <div style="display: inline-block;  position: absolute; top: 5px;">
                        <label for="chbIsChangeLocation" style="">เปลี่ยนห้องประชุมสำหรับรอบการประชุมถัดไป</label>
                                                               
                         
                    </div>
                </div>

            </div>
            
        </div>
        <div class="scline" id="locationChanged">
            <span class="" style="margin-left:30px;" id="">
                        ห้องประชุม : 
                             <input class="" id="txtLocationChanged" placeholder="@ViewData["defaultRoom"]"/>
                    </span>
        </div>
    </div>
    <div class="tpsSection" id="timePlaceHolder">
        <div class="scline">
        <div class="section1 clock">
            <input type="text" id="timeStartDigit1" class="digit" />
            <input type="text" id="timeStartDigit2" class="digit" /> :
            <input type="text" id="timeStartDigit3" class="digit" />
            <input type="text" id="timeStartDigit4" class="digit" />
            <div>น.</div>
            <div>-</div>
        <input type="text" id="timeEndDigit1" class="digit" />
            <input type="text" id="timeEndDigit2" class="digit" /> :
            <input type="text" id="timeEndDigit3" class="digit" />
            <input type="text" id="timeEndDigit4" class="digit" />
            <div>น.</div> 
        </div>
        <div class="sectionlabel">
            เวลา <span class="hide changed">*</span>
        </div>
            </div>
    </div>
        
    <div class="tpsSection last" id="mailPlaceHolderMain">
         <div class="line scline">
            <div class="section1">
                <button class="btnTps btnAdd" id="btnAddMailer">ADD +</button>
            </div>
        </div>
        <div id="mailPlaceHolder"></div>
        
    </div>
       
        </div>
    <div class="scline line">
    <div class="sectionlabel">
        <button class="btnTps btnSave" id="btnSave">SAVE</button>
    </div>
</div>
</div>


<div class="hiddenplaceholder hide">
    <div class="line mailingline prototype">
        <div class="section1">
            <input type="checkbox" class="tpsChb chbAddMailer" />
        </div>
        <div class="section2"><div class="usercode"></div></div>
        <div class="section3">
            <div class="userfullname"></div>
        </div>
        <div class="section4">
            <button class="btnTps btnDelMailer btnDelSmall">X</button>
        </div>
    </div>
    <div class="plant prototype">
        <span class="plantname"></span>
    </div>

    <div class="dlgPlaceholder hide">
        <div id="plantDialog" class="tpsDialog">
            <div class="line">
                <div class="section1">
                    <input type="text" id="txtSearchPlant" class="search" placeholder="search" />
                </div>
                <div class="sectionlast">
                    <button class="btnTps" id="btnCloseGrp">CLOSE X</button>
                </div>
            </div>
            <div id="groupSelectPlaceHolder" class="groupPlaceHolder">
                <div class="tpsLabel">โรงแยกก๊าซ</div>
                @{
                    var plants = Model.AllPlants;
                    int plantIndex = 0;
                    var rowCount = (plants.Count / 3);
                    if (plants.Count % 3 > 0)
                    {
                        rowCount++;
                    }
                    for (int row = 0; row < rowCount; row++)
                    {
                    @:<div class="groupsltRow">
for (plantIndex = row * 3; plantIndex < ((row * 3) + 3) && plantIndex < plants.Count; plantIndex++)
{
    var thisId = "chb_" + plants[plantIndex].plantshortcode;
                        @:<div class="groupBox"><input type="checkbox" id="@thisId" class="tpsChb isGroupSelect" data-plantdisplay="@plants[plantIndex].plantdisplaycode" data-plantid="@plants[plantIndex].plantshortcode" /> <label for="chb_@plants[plantIndex].plantshortcode">@plants[plantIndex].plantdisplaycode</label></div>
                    }
                    @:</div>
                                    }
                }
            </div>
            <div class="line">
                <div class="sectionlast">
                    <button class="btnTps" id="btnAddPlantConfirm">ADD +</button>
                </div>
            </div>
        </div>
        <div id="mailerDialog" class="tpsDialog" style="height:550px;">
            <div class="line">
                <div class="section1">
                    <input type="text" id="txtSearchUser" class="search" placeholder="search" />
                </div>
                <div class="sectionlast">
                    <button class="btnTps" id="btnCloseMail">CLOSE X</button>
                </div>
            </div>
            <div id="addMailerPlaceholder">

            </div>
            <div class="line" style="margin-top:10px;">
                <div class="sectionlast">
                    <button class="btnTps" id="btnAddMailerConfirm">ADD +</button>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="@Url.Content("~/Settings/SubmitScheduler")">
        <input type="hidden" id="newGroups" name="newGroups"/>
        <input type="hidden" id="addUsers" name ="addUsers"/>
        <input type="hidden" id="delUsers" name="delUsers" />
        <input type="hidden" id="groupId" name="groupId" />
        <input type="hidden" id="dayInWeek" name="dayInWeek" />
        <input type="hidden" id="weekmonth" name="weekmonth" />
        <input type="hidden" id="starttimehr" name="starttimehr" />
        <input type="hidden" id="starttimemin" name="starttimemin" />
        <input type="hidden" id="endtimehr" name="endtimehr" />
        <input type="hidden" id="endtimemin" name="endtimemin" />
        <input type="hidden" id="currentGroup" name="currentGroup" />
        <input type="hidden" id="isSuspended" name ="isSuspended" />
        <input type="hidden" id="susDate" name="susDate" />
        <input type="hidden" id="isShift" name="isShift" />
        <input type="hidden" id="shiftDate" name="shiftDate" />
        <input type="hidden" id="meetingLocation" name="meetingLocation" />
    </form>
</div>

