﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;
@model UsersViewModel

@{
    ViewBag.Title = "TPS Workflow";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/settings.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Plugins/select2-3.4.1/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Plugins/select2-3.4.1/select2.min.js")"></script>
}



<script>
    var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    $(document).ready(function () { $('#mnuSettings').addClass('selected'); });
</script>
@if (TPSWorkflow.Helpers.SessionHelper.GetInstance().userInfo.TpsType != TpsUserType.SuperAdmin)
{
    <script>
        $(document).ready(function(){
            $('.saRow').attr('href','#');
        });
        
    </script>
}



<script src="@Url.Content("~/Scripts/TPS/Users.js")"></script>
<div class="contentPlaceHolder">
    <div class="settingHead">
        USER
    </div>
    <div class="tabuser">
        <a href="#">
            <button class="usertab active">SHOW USER</button></a><a href="@Url.Content("~/Settings/UserEdit/-1")" style="width:150px;"><button class="usertab">ADD USER</button></a>
    </div>
    <div id="staffPlaceHolder" class="tpscontainer shadow">
        <div class="sectionTitle">
            <span>STAFF</span><div class="btnCollapseSection"></div>
        </div>
        <div id="staffUsersPlaceHolder">
            @foreach (var user in Model.TPSUsers.Where(d => d.TpsType == TpsUserType.Staff))
            {
                if (string.IsNullOrEmpty(user.ImageUrl))
                {
                    user.ImageUrl = Url.Content("~/Content/images/userdefault.png");
                }
                <div class="userLine">
                    <a href="@Url.Content("~/Settings/UserEdit/" + user.TpsUserId)"  data-userid="@user.TpsUserId">
                        <div class="userImg">
                            <img src="@user.ImageUrl" width="64" height="64"/>
                        </div>
                        <div class="usrInfo">
                            <div class="line1">
                                <div class="usercode text">@user.Username</div>
                                <div class="userdept text">@user.Department &nbsp;</div>
                            </div>
                            <div class="line2">
                                <div class="userFullName text">@user.FullName</div>
                            </div>
                        </div>
                    </a>
                    <div class="btnDelUser">
                        <button data-userfname="@user.FullName"  data-userid="@user.TpsUserId"  class="btnTps short btnDelUser btnDelSmall">X</button>
                    </div>
                </div>
            }

        </div>
    </div>
    <div id="adminPlaceHolder" class="tpscontainer shadow">
        <div class="sectionTitle">
            <span>ADMIN</span><div class="btnCollapseSection"></div>
        </div>
        <div id="adminUsersPlaceHolder">
            @foreach (var user in Model.TPSUsers.Where(d => d.TpsType == TpsUserType.Admin))
            {
                if (string.IsNullOrEmpty(user.ImageUrl))
                {
                    user.ImageUrl = "Content/images/userdefault.png";
                }
                <div class="userLine">
                    <a href="@Url.Content("~/Settings/UserEdit/" + user.TpsUserId)" data-userid="@user.TpsUserId">
                        <div class="userImg">
                            <img src="@(WebHelper.Constants.AppPath + user.ImageUrl)" width="64" height="64"/>
                        </div>
                        <div class="usrInfo">
                            <div class="line1">
                                 <div class="usercode text">@user.Username</div>
                                <div class="userdept text">@user.Department &nbsp;</div>
                            </div>
                            <div class="line2">
                                <div class="userFullName text">@user.FullName</div>
                            </div>
                        </div>
                    </a>
                    <div class="btnDelUser">
                        <button data-userfname="@user.FullName" data-userid="@user.TpsUserId" class="btnDelUser btnTps short btnDelUser btnDelSmall">X</button>
                    </div>
                </div>
               
            }
        </div>
    </div>
    <div id="superAdminPlaceHolder" class="tpscontainer shadow">
        <div class="sectionTitle">
            <span>SUPER ADMIN</span><div class="btnCollapseSection"></div>
        </div>
        <div id="superadminUsersPlaceHolder">
            @foreach (var user in Model.TPSUsers.Where(d => d.TpsType == TpsUserType.SuperAdmin))
            {
                if (string.IsNullOrEmpty(user.ImageUrl))
                {
                    user.ImageUrl = "Content/images/userdefault.png";
                }
                <div class="userLine">
                    <a href="@Url.Content("~/Settings/UserEdit/" + user.TpsUserId)" class="saRow" data-userid="@user.TpsUserId">
                        <div class="userImg">
                            <img src="@(WebHelper.Constants.AppPath + user.ImageUrl)" width="64" height="64"/>
                        </div>
                        <div class="usrInfo">
                            <div class="line1">
                                 <div class="usercode text">@user.Username</div>
                                <div class="userdept text">@user.Department &nbsp;</div>
                            </div>
                            <div class="line2">
                                <div class="userFullName text">@user.FullName</div>
                            </div>
                        </div>
                    </a>
                    @*<div class="btnDelUser">
                        <button data-userfname="@user.FullName" data-userid="@user.TpsUserId" class="btnDelUser btnTps short btnDelUser btnDelSmall">X</button>
                    </div>*@
                </div>
               
            }
        </div>
    </div>
</div>

<div class="hiddenPlaceHolder hide">
    <div class="userLine prototype">
        <div class="userImg"></div>
        <div class="usrInfo">
            <div class="line1">
                <div class="usercode"></div>
                <div class="userdept"></div>
            </div>
            <div class="line2">
                <div class="userFullName"></div>
            </div>
        </div>
        <div class="btnDelUser">
            <button class="btnTps short btnDelUser btnDelSmall">X</button></div>
    </div>
</div>
