﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;
@model PersonalInfoDto

@{
    ViewBag.Title = "TPS Workflow";
    var wgLists = (List<workgroupDto>)ViewData["wglist"];
}

@section AddToHead{
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/settings.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Plugins/select2-3.4.1/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Plugins/select2-3.4.1/select2.min.js")"></script>
    <script src="@Url.Content("~/Plugins/uploadify/jquery.uploadify.min.js")" ></script>
    <link href="@Url.Content("~/Plugins/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
}

@{
    string pwd = string.Empty;
    if (Model.TpsUserId>=0) {
        pwd = "xxxx";
    }
}

<script>
    @*var isEditable = @ViewData["isEditable"].ToString().ToLower();*@
    var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    $(document).ready(function () { $('#mnuSettings').addClass('selected'); });
</script>


<script src="@Url.Content("~/Scripts/TPS/UserEdit.js")"></script>

<div class="contentPlaceHolder">
    <form action="@Url.Content("~/Settings/SubmitUser")" method="post">
        <input type="hidden" id="json" name="json" />
        <input type="hidden" id="password" name="password" />
        <input type="hidden" id="imgtempname" name="imgtempname" />
    </form>
    <div class="settingHead">
        USER
    </div>
    <div class="tabuser">
        <a href="@Url.Content("~/Settings/Users")"><button class="usertab">SHOW USER</button></a><a href="#"><button class="usertab active">USER INFO</button></a>
    </div>
    <div class="tpscontainer shadow">
        <div class="tpsSection">
            <div class="usrline">
                <div class="section1">
                    <input type="text" id="txtUsername" value="@Model.Username" />
                </div>
                <div class="section2">
                    ชื่อผู้ใช้
                </div>
            </div>
            <div class="usrline">
                <div class="section1">
                    <input type="password" id="txtPassword" /> <button class="btnTps" id="btnChangePass">Change</button>
                </div>
                <div class="section2">
                    รหัสผู้ใช้
                </div>
            </div>
            <div class="usrline">
                <div class="section1">
                    <input type="password" id="txtPasswordConf" />
                </div>
                <div class="section2">
                    กรอกรหัสอีกครั้ง
                </div>
            </div>
            <div class="usrline">
                <div class="section1">
                    @*<input type="text" id="txtIname" value="@Model.INAME" />*@
                    <select id="txtIname" class="select2short">
                        <option value="นาย">นาย</option>
                        <option value="นาง">นาง</option>
                        <option value="นางสาว">นางสาว</option>
                    </select>
                    <script>
                        $('#txtIname').val('@Model.INAME');
                    </script>
                    <input type="text" id="txtFname" value="@Model.FNAME"  style="margin-left:5px;"/>
                    <input type="text" id="txtLname" value="@Model.LNAME"/>
                </div>
                <div class="section2">
                    ชื่อ-สกุล
                </div>
            </div>
            <div class="usrline">
                <div class="section1">
                    <input type="text" id="txtTelNo" value="@Model.HOMETEL" />
                </div>
                <div class="section2">
                    เบอร์ติดต่อ
                </div>
            </div>
            <div class="usrline">
                <div class="section1">
                    <input type="text" id="txtEmail" value="@Model.EmailAddr" />
                </div>
                <div class="section2">
                    E-MAIL
                </div>
            </div>
            <div class="usrline">
                <div class="section1">
                    @*<select id="sltWg" class="select2">
                        @foreach (var wg in wgLists)
                        {
                            <option value="@wg.unitcode">@wg.WorkGroupName</option>
                        }
                    </select>*@
                    <input type="text" id="txtWg" value="@Model.Department"/>
                </div>
                <div class="section2">
                    หน่วยงาน
                </div>
            </div>
            <div class="usrline">
                @{
                    var imagePath=WebHelper.Constants.AppPath;
                    if (string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        imagePath+="Content/images/userdefault.png";
                    }
                    else {
                        imagePath += Model.ImageUrl;
                    }
                    
                }
                <div class="section1">
                    <img id="imgAvatar" src="@(imagePath)" height="64" width="64"/>
                    <div class="inline"><button class="btnTps short inline uploadify" id="btnUpPic">+</button></div>
                </div>
                <div class="section2">
                    รูปภาพ
                </div>
            </div>
            <div class="usrline">
                <div class="section1">
                    <button class="toggle usertab" id="btnStaff">Staff</button><button class="toggle usertab" id="btnAdmin">Admin</button><button class="toggle usertab"  
                    @if (TPSWorkflow.Helpers.SessionHelper.GetInstance().userInfo.TpsType==TpsUserType.SuperAdmin)
                    {
                       
                    }
                    else
                    {
                       @:disabled
                    }
                    id="btnSuperAdmin">Super Admin</button>
                </div>
            </div>
        </div>
        <div class="scline line usrfooter">
            <div class="section1">&nbsp;</div>
            <div class="sectionlabel">
                <button class="btnTps btnSave" id="btnAdd">
                    @if (Model.TpsUserId == -1)
                    {
                        @:Add +
                    }
                    else
                    {
                        @:Update
                    }
                </button>
            </div>

        </div>
    </div>

</div>
