﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;

@{
    ViewBag.Title = "TPS Workflow";
}

@section AddToHead{
    <script src="@Url.Content("~/Plugins/datatable/js/jquery.dataTables.js")"></script>
    <link href="~/Plugins/datatable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/memo.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/issue.css")" rel="stylesheet" type="text/css" />
}

<script>
    var dates = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Dates"])) ;
</script>

<script src="@Url.Content("~/Scripts/TPS/memocreate.js")"></script>

<h1>Create new memo</h1>
<hr />
<div class="contentPlaceHolder">
    <div class="tpscontainer shadow">
        <div class="issueSection">
            <div class="editpart">
                <input type="text" id="txtSelectDate" class="datepicker textOrder" />
                <div data-for="problemDate" class="calIcon" id="btnSelectDate"></div>

                <br />
                <br />
                <button class="btnTps left-align" id="btnGetMeetings">Find meetings</button>
                <img style="margin-left:10px;" src="@Url.Content("~/Content/Images/ajax-loader.gif")" alt="" class="hide" id="meeting-Load" />
            </div>
            <div class="infopart twoline">
                วันที่ประชุม
                <br />
                (Meeting date)
            </div>

        </div>

    </div>
    <div class="tpscontainer shadow hide" id="meetingSelector">
        <div class="issueSection">
            <div class="editpart">
                <select id="sltMeetings">
                </select>
                <br />
                <br />
                <button class="btnTps left-align" id="btnCreateMemo">Create</button>
                <img style="margin-left:10px;" src="@Url.Content("~/Content/Images/ajax-loader.gif")" alt="" class="hide" id="detail-Load" />
            </div>
            <div class="infopart twoline">
                กลุ่มงานประชุม
                <br />
                (Meeting Group)
            </div>

        </div>
    </div>
</div>
<div id="meetingDlg" class="dialog hide">
    <h1>สร้าง Memo งานประชุมนี้หรือไม่?</h1>
    <hr />
    <div class="dlgRow">
        <div class="label">วันที่ประชุม :</div>
        <div class="content-side" id="lblMeetingDate"></div>
    </div>
    <div class="dlgRow">
        <div class="label">กลุ่มงาน :</div>
        <div class="content-side" id="lblWorkgroup"></div>
    </div>
    <div class="dlgRow">
        <div class="label">โรงแยกก๊าซ :</div>
        <div class="content-side" id="lblPlant"></div>
    </div>
    <div class="dlgRow">
        <div class="col-2">
            <div class="label">ผู้เข้าร่วมประชุม :</div>
            <div class="content-big" id="lblAttendees">
                <ul>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <div class="label">วาระการประชุม :</div>
            <div class="content-big" id="lblIssues">
                <ul id="agendasUl">
                </ul>
            </div>
        </div>
    </div>
</div>

