﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;
@model meetingDto

@{
    ViewBag.Title = "TPS Workflow";
    var mailTemplate = (mail_templateDto)ViewData["mailTemplate"];
    var agendas = (List<TpsAgenda>)ViewData["Agendas"];
    var isEditable = (bool)@ViewData["isEditable"];
    var isReady = Model.IsMeetingReady();
    var currentAgendaIndex = 0;
}

@section AddToHead{
    <script src="@Url.Content("~/Plugins/datatable/js/jquery.dataTables.js")"></script>
    <link href="~/Plugins/datatable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/memo.css")" rel="stylesheet" type="text/css" />
}

<script>
    var isEditable = @ViewData["isEditable"].ToString().ToLower();
    var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    var isMeetingReadyForSent = @(isReady?"true":"false") ;
    $(document).ready(function () { $('#mnuMemo').addClass('selected'); });
</script>

<script src="@Url.Content("~/Scripts/TPS/memoedit.js")"></script>

<div class="memoTop">
    <div class="tablePlaceHolder">
        <table id="memoTable">
            <thead>
                <tr>
                    <th>วันที่เข้าประชุม</th>
                    <th>วันที่อัพเดท</th>
                    <th>อัพเดทโดย</th>
                    <th>Group</th>
                    <th>ส่งเมล์เตือนแล้ว?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">
                        @Html.Raw(Model.MeetingDate.TPSDateTime())
                    </td>
                    <td class="center">
                        @Html.Raw(Model.memo.ModifiedDate.TPSDateTime())
                    </td>
                    <td class="center">
                        @Model.memo.UpdateByFullName
                    </td>
                    <td class="center">
                        @Model.GroupName
                    </td>
                    <td class="center">
                        @(Model.isSentMail ? "ส่งแล้ว" : "ยังมิได้ส่ง")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<form id="mainContainer" method="post" action="@Url.Content("~/Memo/SubmitMemo")">
    <input type="hidden" name="json" id="json" />

    <div class="memocontent">
        <div class="tpscontainer">
            <div class="memoTitle">
                <span>ผู้เข้าร่วมประชุม (<span id="attdNo"></span> คน)</span>
                <span class="right cursor btnAddSub" id="btnAddAttd">+</span>
            </div>

            <div class="memoSubContent subcontentmail" id="subContent0">
                <div class="header-line">
                    <div class="section1">
                        เข้าร่วม?
                    </div>
                    <div class="section2">
                        รหัส
                    </div>
                    <div class="section3">
                        ชื่อ-นามสกุล
                    </div>
                    <div class="section4">
                    </div>
                </div>
            </div>
            @*<textarea rows="3" cols="30" id="txtMemo1">@Model.memo.Memo1</textarea>*@
        </div>
        <div class="tpscontainer">
            <div class="memoTitle" data-agid="1" data-agDisplayId="1">
                <span>วาระที่ 1  : @mailTemplate.Text1</span>
                <span class="right cursor btnAddSub" data-mainno="1" data-agDisplayId="1">+</span>
            </div>
            <div class="memoSubContent" id="subContent1">
            </div>
            @*<textarea rows="3" cols="30" id="txtMemo1">@Model.memo.Memo1</textarea>*@
        </div>

        <div class="tpscontainer">
            <div class="memoTitle" data-agid="2" >
                <span>วาระที่ 2  : @mailTemplate.Text2</span>
                @*<span class="right cursor btnAddSub" data-mainno="2">+</span>*@
            </div>
            <div class="memoSubContent" id="subContent2">
                <div class="memocontainer" id="a">
                    <div class="memoHeader">
                        <div>วาระที่ <span class="mainNo">2</span></div>
                    </div>
                    <textarea rows="2" cols="30" id="txtMemo2">@Model.memo.Memo2</textarea>
                </div>
            </div>

        </div>


        <div class="tpscontainer">
            <div class="memoTitle" data-agid="3">
                <span>วาระที่ 3  : @mailTemplate.Text3</span>
                @*<span class="right cursor btnAddSub" data-mainno="2">+</span>*@
            </div>
            <div class="memoSubContent" id="agdContent1">
                @if (agendas[2].SubAgenda == null)
                {
                    <div class="memocontainer">
                        <div class="memoHeader">
                            วาระที่ 3
                        </div>
                        <textarea rows="3" cols="30" class="txtMemo" disabled>@agendas[2].Topic</textarea>
                    </div>
                }
                else
                {
                    foreach (var ag in agendas[2].SubAgenda.Select((r, i) => new { member = r, index = i + 1 }))
                    {
                    <div class="memocontainer">
                        <div class="memoHeader">
                            <a href="@Url.Content("~/Issues/EditInfo/" + ag.member.IssueId)" >
                                <div>วาระที่ <span class="mainNo">3</span>.<span class="subNo">@ag.index</span></div>
                            </a>
                        </div>
                        <textarea rows="3" cols="30" class="txtMemo" disabled>@ag.member.Topic.Replace("<br />", "")</textarea>
                    </div>
                    }
                }

            </div>
        </div>
        @{
            currentAgendaIndex = 4;
        }
        @foreach (var ag in agendas.Skip(3).Take(agendas.Count - 4).Select((r, i) => new { index = i, value = r }))
        {
            currentAgendaIndex++;
            <div class="tpscontainer">
                <div class="memoTitle" data-agid="">
                    <span>วาระที่ @(ag.index + 4)  : @ag.value.Topic </span>
                    @*<span class="right cursor btnAddSub" data-mainno="2">+</span>*@
                </div>
                @foreach (var subAg in ag.value.SubAgenda.Select((r, i) => new { data = r, index = i }))
                {
                    
                <div class="memoSubContent" id="">
                    <div class="memocontainer" id="">
                        <div class="memoHeader">
                            <a href="@Url.Content("~/Issues/EditInfo/" + subAg.data.IssueId)" >
                                <div>วาระที่ <span class="mainNo">@(ag.index + 4)</span>.<span class="subNo">@(subAg.index + 1)</span></div>
                            </a>
                        </div>

                        <textarea rows="2" class="txtMemo" disabled cols="30" id="">@subAg.data.Topic.Replace("<br />", "")</textarea>
                    </div>
                </div>

                }

            </div>
        }

        <div class="tpscontainer">
            <div class="memoTitle" data-agid="@currentAgendaIndex" data-agDisplayId="@currentAgendaIndex">
                <span>เพิ่มเติม</span>
                <span class="right cursor btnAddSub" data-mainno="@currentAgendaIndex" data-agDisplayId="@currentAgendaIndex">+</span>
            </div>
            <div class="memoSubContent" id="subContent3">
            </div>
        </div>

        <div class="btnPlaceHolder">
            @* <button class="btnTps stretch" id="btnAddSub">
                Add Sub-Agenda
            </button>*@
            <img src="@Url.Content("~/Content/Images/ajax-loader.gif")" alt="" id="saveLoading" class="hide"/>
            @if (isEditable)
            {

                    <button class="btnTps" id="btnSetIssues">
                        <a href="@Url.Content("~/Memo/MemoIssues/" + Model.MeetingId)" class="plain button" id="btn">
                           @(Model.isSentMail ? "View Issues":"Set Issues")
                        </a>
                    </button>
                
                <button class="btnTps" id="btnSaveMemo">
                    Save
                </button>
            }
            <button class="btnTps" id="btnPreviewMemo">
                Preview
            </button>
            @if (isEditable)
            {
                if (Model.IsMemo)
                {
                    <button class="btnTps" id="btnSendMemo">
                        Send
                    </button>
                    <button type="button" class="btnTps" id="btnExportMemo">
                        Export
                    </button>
                }

                if (!isReady)
                {
                    <button class="btnTps" id="btnStatus">
                        Status
                    </button>
                    <div class="hide" id="divListStatus">
                        มีใบแจ้งซ่อมที่ยังไม่ได้ลงผล
                        <br />
                        @{
                    int i = 1;
                    foreach (var issue in Model.meeting_issue.Select(r => r.issues).ToList().Where(d => !(d.StatusEnum == IssuesStatus.PendingAfterMeeting || d.StatusEnum == IssuesStatus.ClosedWaitKM || d.StatusEnum == IssuesStatus.Recorded)))
                    {
                            @(i.ToString() + ".") @:ใบแจ้งซ่อมหมายเลข @issue.BillNo (<a href="@Url.Content(string.Format("~/Issues/EditInfo/{0}", issue.IssueId))">Link</a>) <br />
                            i++;
                    }
                        }
                    </div>
                }
                <button type="button" class="btnTps" id="btnDelMeeting">
                    Remove
                </button>
            }
        </div>
    </div>
</form>
<div class="hidden" id="memoDlg">
    <div class="memocontainer" id="containerPrototype">
        <div class="memoHeader">
            <div>วาระที่ <span class="mainNo"></span>.<span class="subNo"></span></div>
            <span class="btnDelMemo btnDelSmall">X</span>
        </div>
        <textarea rows="3" cols="30" class="txtMemo"></textarea>
    </div>
    <div class="line mailline prototype">
        <div class="section1">
            <div class="tpsChb">
                <input class="chbIsAdd " type="checkbox" />
                <input class="chbIsAttended" type="checkbox" />
            </div>
        </div>
        <div class="section2">
            <div class="usercode forhightlight"></div>
        </div>
        <div class="section3">
            <div class="userfullname forhightlight"></div>
        </div>
        <div class="section4">

            <button class="btnTps btnDelMail btnDelSmall">X</button>
            <div class="userUnit forhightlight"></div>
        </div>
    </div>
    <div id="addMailDiv">
        <div class="toolline">
            <div class="section1">
                <input type="text" id="txtSearchUser" class="search" placeholder="search" />
            </div>
            <div class="sectionlast">
            </div>
        </div>
        <div id="addMailPlaceHolder" class="addMailPlaceHolder">
        </div>
        <div class="line btnPlaceHolder">
            <div class="sectionlast">
                <button class="btnTps" id="btnAddConfirm">ADD</button>
                <button class="btnTps" id="btnCloseAdd2">CLOSE X</button>
            </div>
        </div>
    </div>
</div>
