﻿@using TPSWorkflow.DAL.DtoS
@using TPSWorkflow;
@model meetingDto
@{
    ViewBag.Title = "TPS Workflow";
    var issues = ViewData["issues"] as List<issuesDto>;
    var pendingIssues = issues.Join(Model.meeting_issue, d1 => d1.IssueId, d2 => d2.IssueId, (r1, r2) => new { issue = r1, type = r2.TypeEnum })
                        .Where(d => d.type == MeetingIssueType.Pending || d.type == MeetingIssueType.KM)
                        .Select(d => d.issue)
                        .ToList();
    var currentIssues = issues.Join(Model.meeting_issue, d1 => d1.IssueId, d2 => d2.IssueId, (r1, r2) => new { issue = r1, type = r2.TypeEnum })
                        .Where(d => d.type == MeetingIssueType.Main)
                        .Select(d => d.issue)
                        .ToList();
}
@section AddToHead{
    <script src="@Url.Content("~/Plugins/datatable/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Plugins/datatable/js/fnReloadAjax.js")"></script>
    <link href="~/Plugins/datatable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/memo.css")" rel="stylesheet" type="text/css" />
}
<script type="text/javascript">

    $(document).ready(function () {

        $('#mnuMemo').addClass('selected');

    });



    var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));


    function Goback(test){
        var url = "/Memo/Edit/" + test;
        window.location.href = url;
       @*@Url.Content("~/Memo/Edit/" + Model.MeetingId);*@

    }



</script>
<script src="@Url.Content("~/Scripts/TPS/memoissues.js")"></script>


<div id="mainContainer">
    <div class="memoTop">
        <div class="tablePlaceHolder">
            <table id="memoTable">
                <thead>
                    <tr>
                        <th>วันที่เข้าประชุม</th>
                        <th>วันที่อัพเดท</th>
                        <th>อัพเดทโดย</th>
                        <th>Group</th>
                        <th>ส่งเมล์เตือนแล้ว?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center">
                            @Html.Raw(Model.MeetingDate.TPSDateTime())
                        </td>
                        <td class="center">
                            @Html.Raw(Model.memo.ModifiedDate.TPSDateTime())
                        </td>
                        <td class="center">
                            @Model.memo.UpdateByFullName
                        </td>
                        <td class="center">
                            @Model.GroupName
                        </td>
                        <td class="center">
                            @(Model.isSentMail ? "ส่งแล้ว" : "ยังมิได้ส่ง")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="section">
        <div class="sectionTitle">
            <span>@*<img src="@Url.Content("~/Content/Images/newicon_summary.png")" />*@ วาระคงค้าง</span>
            <div class="btnCollapseSection"></div>
        </div>
        <div class="sectionContent">
            <table id="tblMemoIssuesPending" class="dt">
                <thead>
                    <tr>
                        <th>GROUP
                        </th>

                        <th>วันที่
                        </th>
                        <th>เลขที่ใบแจ้งซ่อม
                        </th>
                        <th>หัวเรื่อง
                        </th>
                        <th>โรงแย๊กก๊าซ
                        </th>
                        <th>กลุ่มงาน
                        </th>
                        <th>แก้ไขล่าสุด
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var issue in pendingIssues)
                    {
                        <tr class="" data-issueId="@issue.IssueId" data-wgId="@issue.WorkGroupId">
                            <td class="groupDisplay">
                                <div class="groupHighlight">@Model.GroupName</div>
                            </td>
                            <td class="dateDisplay">
                                @Html.Raw(issue.ProblemDate.TPSDateTime())
                            </td>
                            <td>
                                @issue.BillNo
                            </td>
                            <td>
                                <div class="topicsum" title="@issue.ProblemName">@issue.ProblemName</div>
                            </td>
                            <td>
                                @issue.PlantDisplayCode
                            </td>
                            <td>
                                @issue.WorkGroupNameTh
                            </td>
                            <td class="dateDisplay">
                                @Html.Raw(issue.ModifiedDate.TPSDateTime())
                            </td>
                            <td>
                                <a href="@Url.Content("~/issues/editinfo/" + issue.IssueId)">ดูรายละเอียด</a>
                            </td>
                            <td class="right-align">
                                <button class="btnTps btnDelSmall btnDelIssues" data-issueId="@issue.IssueId" data-billno="@issue.BillNo">
                                    X
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="section">
        <div class="sectionTitle">
            <span>@*<img src="@Url.Content("~/Content/Images/newicon_summary.png")" />*@ วาระเข้าใหม่</span>
            <div class="btnCollapseSection"></div>
        </div>
        <div class="sectionContent">
            <table id="tblMemoIssuesMain" class="dt">
                <thead>
                    <tr>
                        <th>GROUP
                        </th>

                        <th>วันที่
                        </th>
                        <th>เลขที่ใบแจ้งซ่อม
                        </th>
                        <th>หัวเรื่อง
                        </th>
                        <th>โรงแย๊กก๊าซ
                        </th>
                        <th>กลุ่มงาน
                        </th>
                        <th>แก้ไขล่าสุด
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var issue in currentIssues)
                    {
                        <tr class="" data-issueId="@issue.IssueId" data-wgId="@issue.WorkGroupId">
                            <td class="groupDisplay">
                                <div class="groupHighlight">@Model.GroupName</div>
                            </td>
                            <td class="dateDisplay">
                                @Html.Raw(issue.ProblemDate.TPSDateTime())
                            </td>
                            <td>
                                @issue.BillNo
                            </td>
                            <td>
                                <div class="topicsum" title="@issue.ProblemName">@issue.ProblemName</div>
                            </td>
                            <td>
                                @issue.PlantDisplayCode
                            </td>
                            <td>
                                @issue.WorkGroupNameTh
                            </td>
                            <td class="dateDisplay">
                                @Html.Raw(issue.ModifiedDate.TPSDateTime())
                            </td>
                            <td>
                                <a href="@Url.Content("~/issues/editinfo/" + issue.IssueId)">ดูรายละเอียด</a>
                            </td>
                            <td class="right-align">
                                @if (!Model.isSentMail)
                                {
                                    <button class="btnTps btnDelSmall btnDelIssues" data-issueId="@issue.IssueId" data-billno="@issue.BillNo">
                                        X
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="wrapper" style="text-align: center;">
            <div class="MeetingIssues" style="">
                @if (!Model.isSentMail)
                {
                    <button class="btnTps" id="btnAddIssues">
                        Add
                    </button>
                }



                <button class="btnTps" onclick="Goback(@Model.MeetingId)" >
                    <a  class="plain button">Done</a> 
                </button>



            </div>
        </div>
        <br />
    </div>
</div>
<div class="hidden" id="memoDlg">
    <div class="" id="AddIssuesDialog">
        <div class="placeholder">
            <h1>กรุณาเลือกใบแจ้งซ่อมที่ใช้เป็นวาระ</h1>
            <hr />
            <div class="line">
                <table id="tblMemoIssuesAdd" class="dt">
                    <thead>
                        <tr>
                            <th></th>
                            <th>GROUP
                            </th>

                            <th>วันที่
                            </th>
                            <th>เลขที่ใบแจ้งซ่อม
                            </th>
                            <th>หัวเรื่อง
                            </th>
                            <th>โรงแย๊กก๊าซ
                            </th>
                            <th>กลุ่มงาน
                            </th>
                            <th>สถานะใบแจ้งซ่อม
                            </th>
                            <th>
                                เคยเข้าในงานประชุมเก่า?
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="line btnPlaceHolder dialog">
            <div class="sectionlast">
                <button class="btnTps" id="btnAddConfirm">ADD</button>
                <button class="btnTps" id="btnCloseAdd">CLOSE X</button>
            </div>
        </div>

    </div>
</div>

