﻿@using TPSWorkflow.DAL.DtoS;

@{
    ViewBag.Title = "TPS Workflow";
    var groupList = (List<groupDto>)ViewData["groups"];
    var statusList = new Dictionary<int,string>(){
              {0, "All"},
              {1, "Draft"},
              {2, "Editted"},
              {3, "Sent"},
            };
}

@section AddToHead{
    <script src="@Url.Content("~/Plugins/datatable/js/jquery.dataTables.js")"></script>
    <link href="~/Plugins/datatable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/memo.css")" rel="stylesheet" type="text/css" />
}

<script >
   
    $(document).ready(function () { $('#mnuMemo').addClass('selected'); });
</script>

<script src="@Url.Content("~/Scripts/TPS/memotable.js")"></script>

<div class="head memo">
    <div class="memohead btn-group">
        
        @*<button class="memoBtn btn btn-default" id="btnFilterDate">Date</button>*@
        @*<input type="hidden" class="datepicker" id="dateVal" value="" />*@
        @*<input type="hidden" class="datepicker" id="groupVal" value="" />
        <input type="hidden" id="statusVal" value="0" />
        <button class="memoBtn btn btn-default" id="btnFilterGroup">Group</button>
        <button class="memoBtn btn btn-default" id="btnFilterStatus">Status</button>
        <button class="memoBtn btn btn-default" id="btnReset">Reset</button>*@
        Group: 
        <select id="groupVal" class="search-select">
            <option value="-1" selected>All</option>
            @foreach (var group in groupList)
            {
                    <option value="@group.GroupId">@group.GroupName</option>
            }
        </select>
        Status: 
        <select id="statusVal" class="search-select">

            @foreach (var status in statusList)
            {
                <option value="@status.Key">@status.Value</option>
            }
        </select>
        Start From: 
        <input type="text" class="datepicker" id="txtStartDate" />
        To: 
        <input type="text" class="datepicker" id="txtEndDate" />    
        
        
        
        
    </div>
    @if (ViewData["isCanBreakDown"] != null && ViewData["isCanBreakDown"].Equals(true))
    {
    <div class="right">
        <button class="btnTps" style="width:auto;" id="btnScheduler">Run scheduler</button>
    </div>
    }
</div>

<div class="tpsContainer">
    <div class="grayHead">

    </div>
    <table class="memoTab" id="memoTable">
        <thead>
            <tr>
                <th>No</th>
                <th>วันที่เข้าประชุม</th>
                <th>วันที่อัพเดท</th>
                <th>อัพเดทโดย</th>
                <th>Group</th>
                <th>พร้อมส่ง?</th>
                <th>สถานะ</th>
            </tr>
        </thead>
    </table>

   
</div>
