﻿เรียนผจ.วบก. <br />
สำเนาเรียนผจ.วก.,ผจ.บง.,ผจ.บฟ.,ผจ.บค.,ผจ.ตร.,ผจ.ผบ.,ผจ.ซญ. และวิศวกร วบก. <br />
<br />
เพื่อโปรดทราบวาระการประชุม ครั้งที่ {Time}/{Year} พื้นที่ {Plant}  ดังนี้ <br />
วาระที่ 1:แจ้งเพื่อทราบ  <br />
1.1 Maintenance Measurement(ผบ.) <br />
1.2 รายงานสอบสวนอุบัติเหตุ อุบัติการณ์(ผบ.) <br />
1.3 MOC (Management of Change) (วค.) <br />
วาระที่ 2:รับรองรายงานประชุม ครั้งที่ {Time} พื้นที่ {Plant} ดังนี้  <br />
{LinkMinute} <br />

วาระที่ 3:การติดตามงานและการดำเนินการตามมติที่ประชุมครั้งที่ผ่านมา <br />
{ReMeeting}
ติดตาม KM <br />
{KM} <br />
{Meeting}

เพื่อโปรดเข้าร่วมประชุมโดยพร้อมเพรียงกัน<br />
ผบ.วบก. <br />
<br />
<br />
หมายเหตุ <br />
- หากท่านใดมีวาระเพื่อมเติมขอโปรดแจ้งด้วยครับ เบื้องต้น List เฉพาะงานติดตามของ Operation ที่ควรมีการทำ Root Cause Analysis <br />
- รบกวน Forward มอบหมาย ให้ท่านผู้เกี่ยวข้องเข้ามานำเสนอด้วยครับ (รายชื่อที่นัดใน Calendar จะมีผจ.ส่วน และ วิศวกรระดับ 7 ขึ้นไปทุกท่านในวบก.) <br />
