﻿@{
    
}
<script>
    $(document).ready(function () {
        $('.midrow, .layoutTable').height(1800);
        $('#mnuWorkFlow').addClass('selected');
    });
</script>
<style>
    .c8 .c14 
    {
        background-color:lightskyblue;
    }
    .c13 td 
    {
        border:1px solid rgb(0,0,0); vertical-align: top; padding: 7px;
        font-family:Grosteque;
    }

</style>
<div style="margin-right: 10px;">
    <img src="~/Content/Images/Flowchart.png" style="width: 100%;" />
    <br />
    <br />
    <table cellpadding="0" cellspacing="0" class="c13"  style="border: none; border-collapse: collapse; width: 100%;">
        <tbody>
            <tr class="c8">
                <td class="c4 c14">
                    <p class="c3"><span class="c15">Page</span></p>
                </td>
                <td class="c2 c14">
                    <p class="c3"><span class="c15">CURRENT STATUS</span></p>
                </td>
                <td class="c6 c14">
                    <p class="c3"><span class="c15">CHANGE TO STATUS</span></p>
                </td>
                <td class="c5 c14">
                    <p class="c3"><span class="c15">AUTHORIZATION</span></p>
                    <p class="c3 c12"><span class="c15"></span></p>
                </td>
                <td class="c9 c14">
                    <p class="c3"><span class="c15">ACTION</span></p>
                </td>
            </tr>
            <tr class="c11">
                <td class="c4">
                    <p class="c3"><span class="c7">Summary</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">-</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">CREATED</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">[AUTO] Break down</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Check Breakdown Flag from SAP and Auto Import to TPS</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">New</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">-</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">WAITING</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">everyone in &#3623;&#3610;&#3585;.</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Input data complete </span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c1"><span class="c7">Registration</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">CREATED</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">DELETED</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Facilitator</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c18">Delete</span><span class="c0">&nbsp;</span><span class="c7">breakdown and input reason</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Registration</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">CREATED</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">WAITING</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Creator &amp; Facilitator</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Input data complete for breakdown &nbsp;flag</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c16">Registration</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">CANCEL</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">WAITING</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Creator / Facilitator / Approver</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Update Page 1 and Click Re-Approve</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c16">Registration</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">PENDING</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">WAITING</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">[AUTO]</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Check schedule and auto change status</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Recycled</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">DELETED</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">CREATED</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Facilitator</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Restore &nbsp;Breakdown into &nbsp;Created &nbsp;section in TPS System </span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Recycled</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">DELETED</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">WAITING</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Facilitator</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Restore issue into &nbsp;Waiting section in TPS System </span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Recycled</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">DELETED</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">DESTROY</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Facilitator</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">destroy breakdown and issue which cannot load into TPS System again.</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Assignment</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">WAITING</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">DELETED</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Approver</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Click Delete button and input reason </span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Assignment</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">WAITING</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">APPROVED</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Approver</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Select status is Approve and assign presenter</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c16">Assignment</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">WAITING</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">PENDING</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Approver</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Select status is pending and input total months to postpone </span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c16">Assignment</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">WAITING</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">CANCEL</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Approver</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Select status is cancel and input reason for cancel</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c16">Preparation</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">APPROVED</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">READY</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Presenter</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Input data complete </span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Preparation</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">PENDING</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">READY</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">[AUTO]</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Update result</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Meeting</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">READY</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">PENDING</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Facilitator</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Select status is pending &nbsp;and input total months to postpone</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Meeting</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">READY</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">CLOSED</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Facilitator</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Select status is &#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636;&#3611;&#3636;&#3604;&#3648;&#3619;&#3639;&#3656;&#3629;&#3591; and input result but no KM file attached</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Meeting</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">READY</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">RECORDED</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Facilitator</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Select status is &#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636;&#3611;&#3636;&#3604;&#3648;&#3619;&#3639;&#3656;&#3629;&#3591; ,input result and attached KM file already</span></p>
                </td>
            </tr>
            <tr class="c8">
                <td class="c4">
                    <p class="c3"><span class="c7">Meeting</span></p>
                </td>
                <td class="c2">
                    <p class="c3"><span class="c7">CLOSED</span></p>
                </td>
                <td class="c6">
                    <p class="c1"><span class="c7">RECORDED</span></p>
                </td>
                <td class="c5">
                    <p class="c1"><span class="c7">Presenter /Facilitator</span></p>
                </td>
                <td class="c9">
                    <p class="c1"><span class="c7">Attach KM file</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    @*<table style="border: none; border-collapse: collapse; width: 100%;">
        <colgroup>
            <col width="84">
            <col width="139">
            <col width="169">
            <col width="208">
            <col width="354">
        </colgroup>
        <tbody>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">

                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">Page</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">CURRENT STATUS</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">CHANGE TO STATUS</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="font-size: 13px; font-family: 'Grosteque'; color: rgb(31,73,125); font-weight: bold; vertical-align: baseline; white-space: pre-wrap">AUTHORIZATION</span><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold"></span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="font-size: 13px; font-family: 'Grosteque'; color: rgb(31,73,125); font-weight: bold; vertical-align: baseline; white-space: pre-wrap">ACTION</span></p>

                </td>
            </tr>
            <tr style="height: 24px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">Summary</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">-</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">CREATED</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">[AUTO] Break down</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Check Breakdown Flag from SAP and Auto Import to TPS</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">New</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">-</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">WAITING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Creator &amp; Facilitator</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Input all data complete</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">2</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">WAITING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">APPROVED</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Approver</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Select status is Approve and assign presenter</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">2</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">WAITING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">PENDING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Approver</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Select status is pending and input total months to postpone </span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">2</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">WAITING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">CANCEL</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Approver</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Select status is cancel and input reason for cancel</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">1</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">CANCEL</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">WAITING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Creator / Facilitator / Approver</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Update Page 1 and Click Re-Approve</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">1</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">PENDING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">WAITING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">[AUTO]</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Check schedule and auto change status</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'; font-weight: bold">3</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">APPROVED</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">READY</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Presenter</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Input Page3 Complete </span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">4</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">READY</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">PENDING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Facilitator</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Select status is pending &nbsp;and input total months to postpone</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">4</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">READY</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">CLOSED</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Facilitator</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Select status is อนุมัติปิดเรื่อง and input result but no KM file attached</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">4</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">READY</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">RECORDED</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Facilitator</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Select status is อนุมัติปิดเรื่อง ,input result and attached KM file already</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">3</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">PENDING</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">READY</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">[AUTO]</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Update result</span></p>

                </td>
            </tr>
            <tr style="height: 0px">
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt; text-align: center"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">4</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">CLOSED</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">RECORDED</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Presenter /Facilitator</span></p>

                </td>
                <td style="border: 1px solid rgb(0,0,0); vertical-align: top; padding: 7px">
                    <p dir="ltr" style="line-height: 1; margin-top: 0pt; margin-bottom: 0pt"><span style="vertical-align: baseline; font-size: 13px; white-space: pre-wrap; background-color: transparent; font-family: 'Grosteque'">Attach KM file</span></p>
                    <span class="HOEnZb"><font color="#888888">

</font></span></td>
            </tr>
        </tbody>
    </table>*@
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.myContainer').height($(document).height());
            $('.midrow').height($('.myContainer').height() - $('.toprow').height() - $('.topMargin').height() - 1);
        }, 1000);
    });
</script>



