﻿@using System.Web.Optimization;
@using TPSWorkflow.DAL;
@using TPSWorkflow.DAL.DtoS;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.11.0.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/TPS/main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TPS/utils.js")" type="text/javascript"></script>
    <link href="~/Content/MainLayout.css" rel="stylesheet" />
    @{
        var thisSession = TPSWorkflow.Helpers.SessionHelper.GetInstance();
        var userInfo = thisSession.userInfo;
        var baseUrl = WebHelper.Constants.AppPath;
        string department = string.Empty;
        string displayName, url;
        if (userInfo != null)
        {
            if (userInfo.UserType == UserSource.PIS)
            {
                department = userInfo.unit.unitabbr;
                displayName = userInfo.CODE;
                url = TPSWorkflow.TPSPathHelper.GetPhotoPathUrl(thisSession.userInfo.CODE);
            }
            else
            {
                department = userInfo.Department;
                displayName = userInfo.Username;
                if (string.IsNullOrEmpty(userInfo.ImageUrl))
                {
                    url = Url.Content("~/Content/images/userdefault.png");
                }
                else
                {
                    url = baseUrl + userInfo.ImageUrl;
                }
            }
        }
        else
        {
            url = string.Empty;
            displayName = string.Empty;
        }
    }
    <script type="text/javascript">
        var baseUrl = "@baseUrl";
        var auth = "@(Request.Cookies[FormsAuthentication.FormsCookieName]==null ? string.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)";
        var ASPSESSID = "@Session.SessionID";

    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootstrap-theme")

    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")" type="text/javascript"></script>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
    @{
        var now = DateTime.Now.AddMonths(1);
        var monthArray = new string[6];
        for (int i = 0; i < 6; i++)
        {
            monthArray[i] = now.ToString("MMM", System.Globalization.CultureInfo.GetCultureInfo("en-US"));
            now = now.AddMonths(1);
        }
    }

    
    <script>
        $(document).ajaxComplete(function () {
            refreshDocHeight();
        });
        function rootUrl() {
            return $('body').attr('data-baseurl');
        }
    </script>
   
</head>
<body data-baseurl="@baseUrl">

     @if (!string.IsNullOrEmpty(TempData["HiddenMessage"] as string))
    {
        <div class="hide">
            @TempData["HiddenMessage"]
        </div>
    }
    <div class="myContainer">
        <div class="topMargin">
        </div>
        <div class="toprow">
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/ptt_icon.png")" height="100" />
            </div>
            <div class="userInfoPlaceHolder">
                <div class="userInfo">
                    <div class="img cell">
                        <img src="@url" width="75" height="75" />
                    </div>
                    <div class="info cell">
                        <div class="usrInfoFullName">
                            @(string.Format("{0}{1} {2}", userInfo.INAME, userInfo.FNAME, userInfo.LNAME))
                        </div>
                        <div class="usrInfoDetail">
                            <div class="left">
                                <div class="title">ID</div>
                                <div class="content">@displayName</div>

                            </div>
                            <div class="right">
                                @*              <div class="title">UNIT</div>
                                <div class="content">@userInfo.WorkgroupNameTh</div>*@
                                <div class="title">Dept</div>
                                <div class="content">@department</div>
                            </div>
                        </div>
                        <div class="usrInfoDetail">
                            @if (userInfo.UserType == UserSource.TPS && userInfo.TpsType == TpsUserType.SuperAdmin)
                            {
                                <div class="left">
                                         <div class="title">Title</div>
                                <div class="content">@userInfo.POSNAME</div>
                                </div>
                                <div class="right">
                                    <div class="title">Login</div>
                                    <div class="content"><input type="text" id="txtLogin"  style="margin:3px; height:20px;"/></div>
                                </div>
                            }
                            else
                            {
                                <div class="central">
                                <div class="title">Title</div>
                                <div class="content">@userInfo.POSNAME</div>
                            </div>
                            }
                            
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="midrow">
            <table class="layoutTable" style="width: 100%;">
                <tr>
                    <td class="sidebar stretch-height">
                        <div class="sidebar maincontent">
                            <a href="@Url.Content("~/Summary")">
                                <div class="menu" id="mnuSummary">
                                    <img src="@Url.Content("~/Content/Images/summary_main_white.png")" height="40" />

                                    <label>SUMMARY</label>
                                </div>
                            </a>
                            @if ((thisSession.Rights.HasFlag(UserRights.CreateNewProblem) || thisSession.Rights.HasFlag(UserRights.SystemAdministrator)))
                            {
                                <div class="menu" id="mnuNew">
                                    <a href="@Url.Content("~/Issues/New")">
                                        <img src="@Url.Content("~/Content/Images/new_main_white.png")" height="40" />
                                        <label>NEW</label>
                                    </a>
                                </div>
                            }
                             @if (thisSession.IsMaster)
                            {
                                <div class="menu" id="mnuRecover">
                                    <a href="@Url.Content("~/Summary/Recover")">
                                        <img src="@Url.Content("~/Content/Images/delete-icon.png")" height="40" />

                                        <label>CANCELED</label>
                                    </a>
                                </div>
                            }
                                <div class="menu" id="mnuMemo">
                                    <a href="@Url.Content("~/Memo")">
                                        <img src="@Url.Content("~/Content/Images/memo_main_white.png")" height="40" />

                                        <label>MEMO</label>
                                    </a>
                                </div>
                            
                            @if ((thisSession.Rights.HasFlag(TPSWorkflow.DAL.UserRights.Administrator) || thisSession.IsMaster))
                            {
                                <div class="menu" id="mnuSettings">
                                    <a href="#">
                                        <img src="@Url.Content("~/Content/Images/setting_main_white.png")" height="40" />

                                        <label>SETTINGS</label>
                                    </a>
                                </div>
                            }
                            <div class="menu" id="mnuWorkFlow">
                                <a href="@Url.Content("~/WorkFlow")">
                                    <img src="@Url.Content("~/Content/Images/workflow_main_white.png")" height="40" />

                                    <label>WORK FLOW</label>
                                </a>
                            </div>
                            <div class="menu" id="mnuLogout">
                                <a href="@Url.Content("~/Logout")">
                                    <img src="@Url.Content("~/Content/Images/logout_main_white.png")" height="40" />

                                    <label>LOG OUT</label>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>

                        <div class="maincontent main">
                            @if (!string.IsNullOrEmpty(TempData["SyncMessage"] as string))
                            {
                                <div class="svMsg">

                                    @TempData["SyncMessage"].ToString()
                                    @{
                                TempData["SyncMessage"] = string.Empty;
                                    }

                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            setTimeout(function () {
                                                $('.svMsg').fadeOut(2000);
                                            }, 2000);
                                        });
                                    </script>
                                </div>
                            }
                            @RenderBody()
                        </div>

                    </td>
                </tr>
            </table>



        </div>


    </div>
    @Html.Partial("CommonDialog")

    <div id="forBlur" class="hide">
        <img class="loadingImg hide" src="@Url.Content("~/Content/Images/loading-big.gif")" width="128" height="128" style="vertical-align:middle;text-align:center;position:absolute;" />
    </div>

    <div id="settingPlaceHolder" class="hide">
        <div class="settingMenu menu">
            <a href="@Url.Content("~/Settings/DynApprover")">
                <img src="@Url.Content("~/Content/Images/menu_dynapprover.png")" height="65" />
            </a>
        </div>
        <div class="settingMenu menu">
            <a href="@Url.Content("~/Settings/Scheduler")">
                <img src="@Url.Content("~/Content/Images/menu_meetignSchedule.png")" height="65" />
            </a>
        </div>
        <div class="settingMenu menu">
            <a href="@Url.Content("~/Settings/TemplateEmail")">
                <img src="@Url.Content("~/Content/Images/menu_temEmail.png")" height="65" />
            </a>
        </div>
        <div class="settingMenu menu">
            <a href="@Url.Content("~/Settings/Users")" class="usr-small">
                <img src="@Url.Content("~/Content/Images/menu_user.png")" height="65" />
            </a>
        </div>
        <div class="settingMenu menu">
            <a href="@Url.Content("~/Settings/MailHistory")" class="usr-small">
                <img src="@Url.Content("~/Content/Images/menu_historymail.png")" height="65" style="margin-left:-30px;" />
            </a>
        </div>
        @if (thisSession.userInfo.UserType == UserSource.TPS && thisSession.userInfo.TpsType == TpsUserType.SuperAdmin)
        {
            <div class="settingMenu menu">
                <a href="@Url.Content("~/Settings/ActivityLog")" class="usr-small">
                    <img src="@Url.Content("~/Content/Images/menu_activity_log.png")" height="65" style="margin-left:-30px;" />
                </a>
            </div>
        }
    </div>
    <div id="numberSelectorPlaceHolder" class="hide">
        <div class="caption">
            MONTH(S)
        </div>
        <div class="numberSection">
            <div class="number">
                1
            </div>
            <div class="number">
                2
            </div>
            <div class="number">
                3
            </div>
            <div class="number">
                4
            </div>
            <div class="number">
                5
            </div>
            <div class="number">
                6
            </div>
        </div>
        <div class="monthSection">
            @foreach (var m in monthArray)
            {
                <div class="month">
                    @m
                </div>
            }

        </div>
    </div>
</body>
</html>
