﻿@using TPSWorkflow
@model TPSWorkflow.MemoMailViewModel

@{
    Layout = null;
    var viewModel = Model;
    if (viewModel == null)
    {
        viewModel = ViewData["model"] as TPSWorkflow.MemoMailViewModel;
    }
    int index = 1;
                //var temPlate = (TPSWorkflow.DAL.DtoS.mail_templateDto)ViewData["mailTemplate"];
}
<table border="1" style="width: 100%; vertical-align: text-top; border: solid black 1px; border-collapse: collapse;">
    <tr>
        <td align="center" width="25%">
            @if (viewModel.Mode == MailViewMode.Html)
            {
                <img src="@(WebHelper.Constants.AppPath + "Content/Images/ptt_logo_doc.jpg")" />
            }
            else
            {
                @:&nbsp; &nbsp; <img src="@Server.MapPath("~/Content/Images/ptt_logo_doc.jpg")" height="50" />
            }
        </td>
        <td align="center">
            <h4>รายงานการประชุม Technical Problem Solving (TPS) @viewModel.meetingInfo.Plants
            </h4>
            @if (viewModel.IsPreview)
            {
                <h6>(ฉบับร่าง)</h6>
            }
        </td>
    </tr>
    <tr>
        <td align="center">MINUTE OF MEETING
        </td>
        <td align="right">
            <h4>ครั้งที่ @string.Format("{0}/{1}", viewModel.meetingInfo.MeetingOrder, (viewModel.meetingInfo.MeetingDate.Year + 543)) @viewModel.meetingInfo.MeetingDate.TpsReportDateTime()
            </h4>
        </td>
    </tr>

</table>

<br />

<table border="1" style="width: 100%; vertical-align: text-top; border: solid black 1px; border-collapse: collapse;">
    <tr>
        <td width="25%" alight="right">หน่วยงาน</td>
        <td align="center">ฝ่ายวิศวกรรมและบำรุงรักษาโรงแยกก๊าซ</td>
    </tr>
</table>

<br />

<table border="1" style="width: 100%; vertical-align: text-top; border: solid black 1px; border-collapse: collapse;">
    <tr>
        <td width="33%" align="center">ระยะเวลาการประชุม
            <br />
            (Meeting Duration)</td>
        <td width="33%" align="center">เริ่มการประชุม
            <br />
            เวลา @viewModel.StartMeetingTimeString น.</td>
        <td width="33%" align="center">สิ้นสุดการประชุม
            <br />
            เวลา @viewModel.EndMeetingTimeString น.</td>
    </tr>
</table>

@if (viewModel.Mode == MailViewMode.PDF)
{
    <br />
    <br />
}

<h2>ผู้เข้าร่วมประชุม
</h2>
@if (viewModel.Mode == MailViewMode.PDF)
{
    <br />
    <br />
}
<table border="1" style="width: 100%; vertical-align: text-top; border: solid black 1px; border-collapse: collapse;">
    <thead>
        <tr>
            <th width="10%" align="center">ลำดับ
            </th>
            <th width="65%" align="center">ชื่อ-นามสกุล
            </th>
            <th width="25%" align="center">หน่วยงาน
            </th>
        </tr>
    </thead>
    <tbody>
        @if (viewModel.Attendees != null)
        {
            int i = 1;
            foreach (var p in viewModel.Attendees)
            {
                string isAttend = string.Empty;
                var matchedModel = viewModel.meetingInfo.meeting_attendees.FirstOrDefault(c => c.AttendeeCode == p.CODE);
                if (matchedModel != null)
                {
                    isAttend = matchedModel.Attended == TPSWorkflow.DAL.DtoS.AttendedType.Attended ? string.Empty : "(ไม่เข้าร่วมประชุม)";
                }
            <tr>
                <td align="center">@i</td>
                <td>@p.FULLNAMETH @isAttend</td>
                <td align="center">@p.WorkgroupNameTh</td>
            </tr>
                i++;
            }
        }
    </tbody>
</table>
<br />
<br />

<h2>การดำเนินงานตามวาระการประชุม
</h2>

@if (viewModel.IsUsePdf)
{
    <p>ท่านสามารถติดตามรายละเอียดเพิ่มเติมได้ที่ <a href="@viewModel.pdfLink">Link</a></p>
}
else
{
    if (viewModel.Mode == MailViewMode.PDF)
    {
        <br />
        <br />
    }
    <table border="1" style="width: 100%; vertical-align: text-top; border: solid black 1px; border-collapse: collapse;">
        @foreach (var agenda in viewModel.Agendas)
        {
            string topic = string.Empty;
            switch (index)
            {
                case 1: topic = viewModel.MailTemplate.Text1; break;
                case 2: topic = viewModel.MailTemplate.Text2 + " " + agenda.Topic; break;
                case 3: topic = viewModel.MailTemplate.Text3; break;
                default:
                    if (string.IsNullOrEmpty(agenda.Topic))
                    {
                        topic = viewModel.MailTemplate.Text4;
                    }
                    else
                    {
                        topic = agenda.Topic;
                    }
                    break;

            }
            <tr style="background-color: rgb(84,141,212);">
                <td width="20%" style="padding: 0px; border: solid black 1px;">วาระที่ @index</td>
                <td style="padding: 0px; border: solid black 1px;">
                    @if (index == 2 && viewModel.LastMeetingId >= 0)
                    {
                        var url = (WebHelper.Constants.AppPath + "Memo/ExportMemo?meetingId=" + viewModel.LastMeetingId);
                        topic += string.Format("<br /><a href=\"{0}\"><font color=\"blue\">{0}</font></a> <br />", url);
                    }
                    @Html.Raw(topic)

                </td>
            </tr>
                    if (agenda.SubAgenda != null)
                    {
                        if (viewModel.Mode!=MailViewMode.PDF)
                        {
                        <tr style="background-color: rgb(219, 229, 241);">
                            <td width="20%" style="border: solid black 1px; padding: 0px;">
                                @if (index != 2)
                                {
                                    @:ลำดับ
                                }
                            </td>
                            <td style="border: solid black 1px; padding: 0px;">รายละเอียดการประชุม</td>
                        </tr>
                        }
                    int subIndex = 1;
                    foreach (var subAg in agenda.SubAgenda)
                    {
            <tr>
                <td width="20%" valign="top" style="vertical-align: top; border: solid black 1px; padding: 0px;">
                    @if (index != 2)
                    {
                        @(index.ToString() + "." + subIndex.ToString())
                    }

                </td>
                <td style="border: solid black 1px; padding: 0px;">

                    @Html.Raw(subAg.Topic)
                </td>
            </tr>
                    subIndex++;
                    }
                    }
                    else
                    {
                        if (index == 3)
                        {
            <tr style="background-color: rgb(219, 229, 241);">
                <td width="20%" style="border: solid black 1px; padding: 0px;"></td>
                <td style="border: solid black 1px; padding: 0px;">ไม่มีวาระติดตาม</td>
            </tr>
                        }
                    }
                    index++;
        }
    </table>
}
