﻿@using TPSWorkflow.DAL.DtoS;
@using TPSWorkflow;
@model HandleErrorInfo

@{
    ViewBag.Title = "TPS Workflow";
}

@section AddToHead{
    <link href="@Url.Content("~/Content/summary.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/settings.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Plugins/select2-3.4.1/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Plugins/select2-3.4.1/select2.min.js")"></script>
}

<div class="contentPlaceHolder">
    <h1>Unauthorized Access</h1>
    @Model.Exception.Message
</div>