﻿body {
}

div.editpart {
    width : 70%;
    display:inline-block;
    padding-right : 50px;
}
#formApprove label {
    font-family: Grosteque !important;
    color:#5B504B;
    font-weight:normal;
}
span.tpsFont {
    font-family: Grosteque;
}
div.infopart {
    display:inline-block;
    vertical-align:top;
    
}
div.editpart.filetable {
    vertical-align:top;
}
div.infopart.twoline {
    position:absolute;
    top:15px;
}

#tblIssueSummarize td {
    max-width: 800px;
}
#formApprove label.chosen {
    font-weight:600;
    color:#199CD4;
}

.tps .uploadify-button-text {
    color:black;    
}
input[type="text"], select, textarea {
    width : 100%;
}
div.issueSection {
    border-bottom-color : silver;
    border-bottom-width : 1px;
    border-bottom-style : solid;
    padding-bottom : 20px;
    padding-top : 20px;
    margin-right : 50px;
    vertical-align:text-top;
    position:relative;
}
div.issueSubSection {
    padding-bottom : 20px;
    padding-top : 20px;
    margin-right : 50px;
}
div.issueSection.last {
    border-bottom-color : silver;
    border-bottom-width : 0px;
    border-bottom-style : solid;
    padding-bottom : 20px;
    padding-top : 20px;
    margin-right : 50px;
}

div.issueSection:last-child  {
    border-bottom-color : silver;
    border-bottom-width : 0px;
    border-bottom-style : solid;
    padding-bottom : 20px;
    padding-top : 20px;
    margin-right : 50px;
}
div.plantSelect {
    width : 100px;
    display:inline-block;
}

div.plantSelect select {
    width : 100%;
}

.plantEdit {
    width: 60%;
    display:inline-block;
    margin-left : 10px;
}

.topissue table{
    width : 100%;
}

.topissue {
    background-color:#ECECEC;
    /*margin-top : 10px;*/
    min-height:100px;
    padding:10px;

}
.smallLabel{
    font-size:11px;
    color:#B7B7B7;
    font-family:Grosteque;
}
.userId {
    width : 30%;
    max-width:200px;
    margin-right:10px;
}

.longInput {
    width:50%;
}

.select2div{
    margin-right:10px;
    display:inline-block;
}

.select2 {
    width:100%;
}
.stepSelectorPlaceHolder{
    width:30px;
    position:relative;
    display:inline-block;
    vertical-align:top;
    margin-left:-5px;
}
.StepSelector {
    width:100px;
    height:30px;
    margin-top:1px;
    background-color:#D2D2D2;
    position:relative;
    cursor:pointer;
}
.StepSelector a, .StepSelector .nolink {
    font-weight:bold;
    font-size:20px;
    position    :absolute;
    top:2px;
    left:10px;
    color:white;
    
}

.nolink {
    cursor:default;
}

.StepSelector.selected {
    background-color:#199CD4;
}

.StepSelector.selected a {

}

.StepSelector:first-child {
    margin-top:0px;
}

.bodyPlaceHolder {
    /*margin-top:-10px;*/
    border: solid 1px rgb(210,210,210);
    /*border-style: groove;*/
    -moz-box-shadow: 2px 2px 2px silver;
    -webkit-box-shadow: 2px 2px 2px silver;
    box-shadow: 2px 2px 2px silver;
    /*border-color:silver;*/
    border-width: 1px;
    width: 100%;
    padding:10px;
}
.issueSection select {
    height:23px;
}
input.textOrder, select.textOrder {
    width:333px;
}
    .bodyPlaceHolder.nostyle {
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding:0px;
    }

.contentPlaceHolder {
    display:inline-block;
    /*width: -moz-calc(100% - 35px);
    width: -webkit-calc(100% - 35px);
    width: calc(100% - 35px);*/
    width : 950px;
    margin-left:-5px;
}

.mainPlaceHolder {
    padding:10px;
}

.fileLabel label {
    width:70%; margin-left:30px;
}

.fileLabel {
    width : 100%;
}

.fileLabel:last-of-type {
    margin-bottom:20px;
}

.fileLabel button {
    
}

.fileLabel.toDelFile label {
    text-decoration:line-through;
}

.btnDelFile {
    background-image: url(Images/binicon.png);
    /*background-size: 30px;*/
    height:20px; width:20px;
    background-repeat:no-repeat;
    background-size: 20px;
    cursor:pointer;
    display:inline-block;
    position:absolute;
}

.issueSection .half {
    width:45%;
    display:inline-block;
    vertical-align:text-top;
}

input.forspinner {
    background-color:transparent;
    border:none;
}
#isLoadPlant.loading {
    min-height: 23px;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    
}
#isLoadPlant {
    width:23px;height:23px;display:inline-block;vertical-align:bottom;
}