﻿.memoRow {
    border-bottom-color:silver;
    border-bottom-width:1px;
    border-bottom-style:solid;
   
}

.memoRow td{
     padding-bottom:20px !important;
     padding-top:20px !important;
}
div.head {
    width:100%;
}

div.head .memohead{
    width:70%;
}
div.head.memo  .right {
    width:28%;
    display:inline-block;
    text-align:right;
}

.memoRow:last-child {
    border-bottom-style:none;
}
.noBorder {
    border:none;
}

.memoRow.editable:hover td {
    background-color : lightgray;
}
.memoTab {
    margin:0px;
    margin-top:10px;
    margin-bottom:-30px;
    padding:0px;
    list-style:none;
    
}
.memoTab li {
    /*display:inline-block;
    background-color:lightgray;
    border:1px solid silver;
    padding:0px;
    margin:0px;*/
    display: inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
}

.memoRow.editable {
    cursor:pointer;
}

.ui-datepicker{ z-index: 9999 !important;}

.selector {
    display:none;
    text-align:center;
    box-shadow : 2px 2px 2px silver;
    z-index:9999;
    position:fixed;
    opacity:1.0;
    border:solid 1px;
    background-color:white;
}

.selector.show {
    display:block;
}

.btn-select {
    display:block;
    width:200px;
    margin:10px;
}

.memoTop {
    background-color:#ECECEC;
    /*margin-top : 10px;*/
    min-height:100px;
    padding:10px;
    margin-top:20px;
    margin-right:10px;
    box-shadow : 2px 2px 2px silver;
}

.memocontent .memocontainer {
    width:100%;
    border-style:inset;
    padding:0px;
    margin-top:30px;
    display:inline-block;
}
.memoTitle {
    background-color:#ECECEC;
    position: relative;
    height : 40px;
    padding-left: 10px;
    cursor:pointer;
}
.memoTitle > span.right {
    text-align:right;
    right:10px;
    top:-10px;
    font-size:40px;
}
.memoTitle.active {
    background-color:darkgray;
}
.btnTps:first-child {
    margin-left:0px;
}
.memoTitle > span{
    vertical-align:middle;
    top:10px;
    position:absolute;
    display:inline-block;
    color:#199DD5;
}
.memocontent .tools {
    width:7%;
    display:inline-block;
}

.memocontent .tpscontainer{
    margin-top:30px;
}

#memoTable{
    width:100%;
    
}
.tablePlaceHolder {
    margin-left:20px;
}


.memocontent textarea{
    width:100%;
    border-style:none;
    background-color:white;
}

.memoHeader {
    background-color:#ECECEC;
    text-align:left;
   height:30px;
   vertical-align:middle;
   font-weight:800;
   position:relative;
   
}

.memoHeader div {
   position:absolute;
   top:25%;
   
   left:10px;
}

.btnPlaceHolder {
    text-align:right;
    margin-right:10px;
    margin-top:30px;
}

.memocontent {
    margin-right:10px;
}
.btnDelSmall {
    width:20px !important;
    height:20px !important;
}
.btnDelMemo {
    right:3px;
    text-align:center;
    position:absolute;
    cursor:pointer;
}
.btnDelMemo:hover {
    background-color:gray;
}

.mailline div {
    display:inline-block;
}
.mailline {
    padding-bottom:15px;
    margin-top:10px;
}

.subcontentmail {
    padding-left:50px;
}

.section2 {
    width:180px;
}

.section3 {
    width:380px;
}

#addMailDiv.loading {
    background-image: url(Images/ajax-loader.gif);
    background-repeat:no-repeat;
    background-position:center;
    width:800px;
    height:100px;
}
#addMailDiv.loading div{
    display:none;
}

#mainContainer {
    position:relative;
}
.cursor {
    cursor:pointer;
}

#addMailDiv {
    z-index: 9999;
    position: absolute;
    width: 800px;
    height: 500px;
    min-height: 500px;
    top: 10%;
    left: 10%;
    -webkit-box-shadow: silver 2px 2px;
    -moz-box-shadow: silver 2px 2px;
    box-shadow: silver 2px 2px;
    background-color: white;
    border: silver solid 1px;
    padding: 20px;
    margin-top: 20px;
   
}
#addMailPlaceHolder {
    height: 370px;
    overflow: auto;
}

 .toolline .section1 {
    width:60%;
    display:inline-block;
}
 .sectionlast {
     display:inline-block;
 }
 input[type="checkbox"] {
    width:20px;
    height:20px;
    background-color:white;
}
 .header-line div {
     display:inline-block;
     text-align:center;
     font-weight:bold;
 }
 .section1 {
    width:100px;
    vertical-align:middle;    
}

 .subcontentmail input {
     display:none;
 }
 .subcontentmail .section1 {
     text-align:center;
 }
 .addMailPlaceHolder input.chbIsAttended {
     display:none;
 }
 .subcontentmail input.chbIsAttended {
     display: inline-block;
 }
 .MeetingIssues {
     display:inline-block;
     width:95%;
     margin:0px;
     text-align:right;
 }
 .right-align {
     text-align:right;
 }

 #AddIssuesDialog {
    z-index: 9999;
    position: fixed;
    width: 80%;
    height: 70%;
    min-height: 500px;
    top: 10%;
    left: 10%;
    -webkit-box-shadow: silver 2px 2px;
    -moz-box-shadow: silver 2px 2px;
    box-shadow: silver 2px 2px;
    background-color: white;
    border: silver solid 1px;
    padding: 20px;
    margin-top: 20px;
   
}
 tr.cursor{
     cursor:pointer;

 }
 tr.cursor:hover td {
     background-color:silver;
 }

 .topicsum.fixwidth {
     max-width:350px;
 }