﻿.approverline.prototype {
    display:none;
}
.contentPlaceHolder {
    font-family:Grosteque;
}
.scline .section1.clock input,.scline .section1.clock div  {
    margin-right:5px;
    display:inline-block;
}
.btnDelSmall {
    width:30px !important;
    height:30px !important;
}
.settingHead {
    background-color:#ebebeb;
    width:100%;
    color:#23B0E2;
    text-align:right;
    padding-right:20px;
    box-shadow: 1px 1px 1px 1px gray;
    height:30px;
    font-weight:800;
    margin-bottom:10px;
    vertical-align:middle;
    padding-top:5px;
}
input[type="checkbox"] {
    width:20px;
    height:20px;
    background-color:white;
}
.hightlight {
    background-color:#D2D2D2;
    padding:10px;
    min-width:60px;
    width:100%;
    vertical-align:central;
    height:30px;
    display:inline-block;
}

.line > div {
    display:inline-block;
}

.tpsSection .line {
    margin-left:10px;
}
#imgAvatar {
    border:1px solid gray;
}
.section1 {
    width:100px;
    
}

.section2 {
    width:180px;
}

.section3 {
    width:380px;
}


.sectionlast {
    width:auto;
    text-align:right;
    float:right;
}

.wgLine,.addLine {
    margin-bottom:15px;
}

.btnTps.btnAdd {
    margin-left:0px;
}


.approversPlaceholder.loading {
    background-image: url(Images/ajax-loader.gif);
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:100px;
}

#mainContainer {
    position:relative;
}

#addApproverDiv {
    z-index:9999;
    position:absolute;
    width:80%;
    height:500px;
    min-height:500px;
    top:10%;
    left:10%;
    -webkit-box-shadow:silver 2px 2px;
    background-color:white;
    border:silver solid 1px;
    padding:20px;
}

#addApproverPlaceHolder {
    margin-top:20px;
    height:370px;
    overflow:auto;
}

#addApproverDiv .approverline {
    margin-top:10px;
    border-bottom:silver 1px solid;
    padding-bottom:15px;
   
}

#addApproverDiv .approverline:first-child {
    margin-top:0px;
}

#addApproverDiv .approverline:last-child {
    margin-top:10px;
    border-bottom:none;
}

.approversPlaceholder .approverline {
    margin-top:10px;
    padding-bottom:15px;
     
}
.approverline div {
     vertical-align:middle;
}

.scline > div {
    display:inline-block;
    position:relative;
}

.scline .sectionlabel {
    float:right;
    padding-right:100px;
}

#groupPlantPlaceHolder .scline .section1 {
    width:400px;
}

.scline .section1 {
    width:400px;
}

#plantPlaceHolder {
    width: 350px;
    display:inline-block;
}

span.plantname {
    display:inline-block;
    margin-left:0px;
    margin-right:10px;
    margin-top:10px;
    width:50px;
    height:20px;
    background-color:#EAEAEA;
    text-align:center;
}

#plantLine {
    margin-top:15px;
}

.plantlinebtn {
    display:inline-block;
}

.chb {
    display:inline-block;
    margin-right:20px;
    width:50px;
}

.scline input[type="radio"] {
    margin-right:10px;
}

.groupPlaceHolder {
    margin-top:20px;
    height:350px;
    overflow:auto;
}

.groupsltRow {
    padding-bottom:10px;
    border-bottom: silver 1px solid;
    margin-top:10px;
    width:100%;
}

.groupBox {
    width:33%;
    display:inline-block;
}

#addMailerPlaceholder {
    height:370px;
    overflow:auto;
    margin-top:50px;
}


.mailingline {
    margin-top:10px;
    border-bottom:silver 1px solid;
    padding-bottom:15px;
}

.mailingline:first-child {
    margin-top:0px;
}

.mailingline:last-child {
    margin-top:10px;
    border-bottom:none;
}

#mailPlaceHolder {
    margin-top:50px;
}

.mailingline.new {
    color:red;
}

.toDel, .toDel .usercode, .toDel .userfullname {
    text-decoration:line-through;
    -moz-text-decoration-color:red;
    text-decoration-color:red;
}

.linelabel {
    width:10%;
    max-width:200px;
    display:inline-block;
}
.lineinput {
    width:80%;
    display:inline-block;
}
#mainContainerMail input {
    width:100%;
    max-width:600px;
}

#mainContainerMail .line {
    width:70%;
    position:absolute;
    top:45%;
}

#mainContainerMail .tpsSection {
    height: 100px;
    position:relative;
}

.tabuser {
    text-align:right;
    margin-top:10px;
}

.tabuser button{
    margin:0px;
    /*padding:0px;*/
    /*border:0px;*/
}

.usertab {
    background-color:white;
    /*-moz-box-shadow:1px 1px 1px 1px silver;
    -webkit-box-shadow:1px 1px 1px 1px silver;
    box-shadow:1px 1px 1px 1px silver;*/
    border:outset 2px silver;
    font-weight:400;
    width:150px;
    margin:0px;
    padding:0px;
}
.usertab.active {
    background-color:#199CD4
}

.usertab:not(:first-child):not(:last-child) {
    border-left:none;
    border-right:none;
}
a:last-child .usertab {
    border-left:none;
    border-right:outset silver;
}
a:first-child .usertab {
    border-left:outset silver;
    border-right:none;
}
.usrline .section1 {
    width:60%;
    display:inline-block;
}
.usrline .section1 input {
    width:100%;
}
.usrline .section1 input[type="password"] {
    width:70%;
}
#btnChangePass {
    width:20%;
}
#txtIname {
    width:10%;
}
#txtFname {
    width:30%;
}
#txtLname {
    width:30%;
}
.usrline .section2 {
    display:inline-block;
    margin-left:30px;
}

.usrline {
    margin-top:10px;
    margin-bottom:10px;
}


.inline {
    display:inline-block;
}

.usrfooter{
    height:50px;
    margin-top:20px;
    margin-right:50px;
}

#staffPlaceHolder {
    margin-top:20px;
}

.userLine div {
    display:inline-block;
}

.userLine {
    padding-top:5px;
    padding-bottom:5px;
    cursor:pointer;
    margin : 10px 0px 10px 10px;
    display:inline-block;
}
.btnDelUser {
    display:inline-block;
}

.userLine:hover {
    text-decoration:none;
}
.userImg {
    vertical-align:top;
    height:100%;
}

.userLine .text {
    background-color:#EAEAEA;
    padding:5px;
    padding-left:20px;
}

.usrInfo .line1,.line2 {
    display:block;
    width:100%;
}

.line2 {
    margin-top:5px;
}
.usrInfo {
    margin-left:30px;
    min-width:600px;
}
.usercode {
    width:70%;
}
.userFullName {
    width:70%;
}

.userdept {
    width:20%;
}



