﻿body {
}

div.head {
    margin-bottom:10px;
}
div.head .left {
    width:48%;
    display:inline-block;
}

div.head .right {
    width:48%;
    display:inline-block;
    text-align:right;
}
div.head.mailhistory .left {
    width:65%;
}
div.head.mailhistory .right {
    width:33%;
}

td.dateDisplay {
    width:150px;
}
td.groupDisplay {
    width:100px;
}
div.datePicker {
    display:inline-block;
}
div.btnCollapseSection {
    
    position:absolute;
    width: 20px;
    height: 20px;
    right : 30px;
    top: 10px;
    background-repeat:no-repeat;
    cursor:pointer;
}

#tblTotalReport {
    width:100%;
}

#tblTotalReport td,th {
    text-align:center;
}

#tblTotalReport tbody td {
    font-size: 40px;
    font-weight:bold;
    
}

div.btnCollapseSection.plus {
    background-image: url(Images/plusicon.png);
}

div.btnCollapseSection.minus {
    background-image: url(Images/minusicon.png);
}

div.sectionTitle {
    background-color:#ECECEC;
    position: relative;
    height : 40px;
    padding-left: 10px;
    cursor:pointer;
}

div.sectionTitle span {
    vertical-align:middle;
    top:10px;
    position:absolute;
    display:inline-block;
    color:#199DD5;
    
}

div.section {
    /*display : table;
    position : relative;*/
    margin-bottom : 2px;
}
.groupHighlight {
    background-color:#ECECEC;
    padding:3px;
    width:50px;
    /*min-width:60px;*/
    height:25px;
}

.sectionContent {
    /*margin-top:5px;
    margin-bottom:5px;*/
}

.dt thead tr th {
    text-align:left;
    color : #B7B7B7;
}

.center {
    text-align:center;
}

.issueRow:hover td {
    background-color : lightgray;
}

.issueRow.editable {
    cursor:pointer;
}

.recoverRow {
    cursor:pointer;
}

.recoverRow.active td{
    background-color : lightgray;
}